body #flexicontent .fc_item_title,
body #flexicontent .fc_item_title a {
	color: inherit;
	background-color: inherit;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-radius: 0px;
}
body #flexicontent .flexi.label,
body #flexicontent .desc-title.label {
	background-color: #999999;
	color: #ffffff;
	border-radius: 3px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 2px;
}
body #flexicontent ul.leadingblock > li {
	background-color: inherit;
	color: inherit;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 2px;
	border-radius: 0px;
	margin-top: 32px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 32px;
	border: 0px solid inherit;
	box-sizing: border-box !important;
}
body #flexicontent ul.introblock > li {
	background-color: inherit;
	color: inherit;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 2px;
	border-radius: 0px;
	margin-top: 32px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 32px;
	border: 0px solid inherit;
	box-sizing: border-box !important;
}
body #flexicontent ul.leadingblock.one > li,
body #flexicontent ul.introblock.one > li {
	width: 100%;
}
body #flexicontent ul.leadingblock.two > li,
body #flexicontent ul.introblock.two > li {
	width: 48.6%;
}
body #flexicontent ul.leadingblock.three > li,
body #flexicontent ul.introblock.three > li {
	width: 31.6%;
}
body #flexicontent ul.leadingblock.four > li,
body #flexicontent ul.introblock.four > li {
	width: 23.4%;
}
#flexicontent .clear {
	border: 0;
	clear: both;
	float: none;
	font-size: 1px;
	height: 0;
	line-height: 1px;
	margin: 0;
	padding: 0;
	visibility: hidden;
}
#flexicontent .buttons {
	float: right;
}
#flexicontent h2 img {
	border: none;
}
#flexicontent .catimg {
	margin: 0 0.5em 0.5em 0;
	float: left;
	position: relative;
}
#flexicontent .catimg p {
	font-size: 0.9em;
	line-height: 180%;
	margin: 0 0 0.5em 0;
}
#flexicontent .catdescription {
	margin: 0 0 0.5em 0;
}
#flexicontent .subcategories {
	border-bottom: 2px solid #ddd;
	padding: 0.5em 0.3em;
	margin: 0.8em 0;
}
#flexicontent .taglist {
	margin: 5px 0 10px;
	padding: 0 5px;
}
div.subcategorieslist {
	margin: 0 0 1em 0;
}
#flexicontent #fc_filter {
	margin: 0 0 1em 0;
	padding: 0.5em;
	border: solid 1px #ddd;
}
#flexicontent .fc_fleft {
	float: left;
}
#flexicontent .fc_fright {
	float: right;
}
#flexicontent .fc_fright .filter {
	margin-left: 10px;
}
div.comments {
	margin-top: 15px;
}
.comments #jc h4 {
	font-weight: normal;
	color: inherit;
	margin-top: 0px;
}
.comments #comments a {
	color: inherit;
}
.comments #comments a:hover {
	color: #578E13;
}
.comments #comments div.comments-list {
	margin-left: 0;
}
.comments .rbox_tr,
.comments .rbox_tl,
.comments .rbox_t,
.comments .rbox_br,
.comments .rbox_bl,
.comments .rbox_b,
.comments .rbox_m {
	background: none;
	border: none;
}
.comments .rbox {
	border: 1px #ccc solid;
}
.comments .even .rbox {
	background: #fff;
}
.comments .odd .rbox {
	background: #f0f0f0;
}
.comments #comments-list-footer {
	margin: 0 0 10px 0;
}
#comments-form p,
#comments-form #comments-form-buttons,
#comments-form #comments-form-error {
	margin-left: 0px !important;
}
#comments-form #comments-form-message,
#comments-inline-edit #comments-form-message {
	padding: 5px 5px 5px 25px;
	display: block;
}
.comments-form-message-error {
	background: #FFD86F url(../images/error.png) no-repeat 4px 50%;
}
.comments-form-message-info {
	background: #DFEEFF url(../images/information.png) no-repeat 4px 50%;
}
#flexicontent ul.leadingblock,
#flexicontent ul.introblock {
	margin: 0;
	padding: 0;
}
#flexicontent ul.leadingblock > li {
	margin: 32px 0 32px 0;
	padding: 16px 0 16px 0;
	border-top: 1px dashed darkgray;
	background: none;
	width: 100%;
	min-height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	line-height: inherit;
}
#flexicontent ul.introblock > li {
	margin: 32px 0 32px 0;
	padding: 16px 0 16px 0;
	border-top: 1px dashed darkgray;
	background: none;
	width: 100%;
	min-height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	line-height: inherit;
}
#flexicontent ul.leadingblock.two > li,
#flexicontent ul.introblock.two > li {
	width: 48.6%;
	margin-left: 1%;
}
#flexicontent ul.leadingblock.three > li,
#flexicontent ul.introblock.three > li {
	width: 31.6%;
	margin-left: 1%;
}
#flexicontent ul.leadingblock.four > li,
#flexicontent ul.introblock.four > li {
	width: 23.4%;
	margin-left: 1%;
}
@media only screen and (min-width: 1024px) and (max-width: 1151px) {
	body #flexicontent ul.introblock.four  > li {
		width: 31.6%;
		margin-left: 1%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	body #flexicontent ul.leadingblock.three > li,
	body #flexicontent ul.leadingblock.four > li,
	body #flexicontent ul.introblock.three > li,
	body #flexicontent ul.introblock.four  > li {
		width: 48.2%;
		margin-left: 1%;
	}
}
@media only screen and (max-width: 767px) {
	body #flexicontent ul.leadingblock.two   > li,
	body #flexicontent ul.leadingblock.three > li,
	body #flexicontent ul.leadingblock.four  > li,
	body #flexicontent ul.introblock.two   > li,
	body #flexicontent ul.introblock.three > li,
	body #flexicontent ul.introblock.four  > li {
		width: 100%;
		margin-left: 0%;
	}
}
#flexicontent figure.image.right,
#flexicontent div.image.right {
	float: right !important;
	margin: 8px 2px 0px 10px !important;
	width: auto !important;
}
#flexicontent figure.image.left,
#flexicontent div.image.left {
	float: left !important;
	margin: 8px 10px 0px 2px !important;
	width: auto !important;
}
#flexicontent figure.image.right img,
#flexicontent figure.image.left img,
#flexicontent div.image.right img,
#flexicontent div.image.left img {
	padding: 1px;
	border: 1px solid lightgray;
}
#flexicontent .lineinfo {
	display: block;
	float: left;
	clear: both;
	margin: 0 0 0.5em 0;
}
#flexicontent .lineinfo {
	vertical-align: middle;
}
#flexicontent .lineinfo .element {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 6px;
	width: 100%;
	box-sizing: border-box;
}
#flexicontent .lineinfo .element .label {
	display: inline-block;
	font-size: 90%;
	margin-left: 8px;
	margin-right: 8px;
	padding: 6px 12px;
	box-sizing: border-box;
}
#flexicontent .lineinfo .element .value {
	display: inline-block;
}
#flexicontent .readmore {
	display: inline-block;
	float: left;
	clear: both;
}
#fc_alpha .btn.fc_alpha_index,
#fc_alpha .btn.fc_alpha_index_sep {
	margin-top: 0;
	margin-bottom: 0;
}
.group {
	overflow: auto !important;
}
