#design_iconimg { display: inline-block; font-size: 13px; padding: 5px 15px; border-radius: 25px; -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3); -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3); box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3); }

.is-top_left{ position: fixed; top: 15px; left: 15px; z-index: 99; }
.is-top_right{ position: fixed; top: 15px; right: 15px; z-index: 99; }
.is-bottom_left{ position: fixed; bottom: 15px; left: 15px; z-index: 99; }
.is-bottom_right { position: fixed; bottom: 15px; right: 15px; z-index: 99; }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.whatsappchat img.is-analytics { padding-right: 10px;max-width: 24px; }
.whatsappchat .popup-section {  }
.whatsappchat .popup-section .popup { position: relative; display: inline-block; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.whatsappchat .popup-section .popup .popuptext { opacity: 0; width: 370px; background-color: #ffffff; border-radius: 8px; padding: 0; position: absolute; z-index: 1; top: 70px; left: 0; transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; } 
.whatsappchat .popup-section .popup .popuptext::after { content: ""; position: absolute; top: -16px; left: 30px; border-width: 8px; border-style: solid; /*border-color: transparent transparent #7272ff transparent;*/ }
.whatsappchat .popup-section .popup .show { transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; opacity: 1; }
.whatsappchat .popup-section .help-you-btn { border-radius: 50px; white-space: nowrap; padding: 12px 24px; color: #ffffff; background: #7272ff; outline: 0; text-decoration: none; cursor: pointer; box-shadow: 0 1px 6px 0 rgba(0,0,0,0.06), 0 2px 32px 0 rgba(0,0,0,0.16); margin: 0; display: inline-block; }

.whatsappchat .popup-section .popup .popuptext { box-shadow: 0 8px 25px -5px rgba(45,62,79,0.15); }
.whatsappchat .popup-section .popup .popuptext .popup-box {  }
.whatsappchat .popup-section .popup .popuptext .popup-box .popup-top { background: #7272ff; width: 100%; display: inline-block; padding: 15px 0; border-top-left-radius: 8px; border-top-right-radius: 8px; }
.whatsappchat .popup-section .popup .popuptext .popup-box .popup-top .content { float: right; padding: 5px 16px; }
.whatsappchat .popup-section .popup .popuptext .popup-box .popup-top .content .name { display: block; color: #ffffff; }
.whatsappchat .popup-section .popup .popuptext .popup-box .popup-top .content .label { display: block; color: #000000; }
.whatsappchat .popup-section .popup .popuptext .popup-box .popup-top .image { float: right; padding-right: 36px; }
.whatsappchat .popup-section .popup .popuptext .popup-box .popup-top .image img { max-width: 42px; }
.whatsappchat .popup-section .popup .popuptext .popup-box .chat-content {  background: #f7f7f7; border-radius: 4px; margin: 36px; }
.whatsappchat .popup-section .popup .popuptext .popup-box .chat-content .message { position: relative; background: #eee; padding: 16px 24px; }
.whatsappchat .popup-section .popup .popuptext .popup-box .chat-content .message:before { content: ''; position: absolute; top: -6px; right: 24px; width: 13px; height: 13px; transform: rotate(45deg); background-color: #eee; } 
.whatsappchat .popup-section .popup .popuptext .popup-box .response { position: relative; }
.whatsappchat .popup-section .popup .popuptext .popup-box .response input { font-size: 14px; font-weight: normal; line-height: 1; padding: 20px 56px 20px 36px; margin: 0; color: #4e4e4e; background-color: #ffffff; border: none; width: 100%; min-height: 59px; border-top: 1px solid #e6e6e6; outline: none; }
.whatsappchat .popup-section .popup .popuptext .popup-box .response .send_btn { position: absolute; top: 50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); right: 40px; line-height: 0; }

/* 16-12-2019 */
.whatsappchat.is-top_right .popup-section .popup .popuptext { right: 0; left: auto; }
.whatsappchat.is-top_right .popup-section .popup .popuptext::after { left: auto; right: 30px; }
.whatsappchat.is-bottom_right .popup-section .popup .popuptext { top: auto; bottom: 70px; left: auto; right: 0; opacity: 0; visibility: hidden; }
.whatsappchat.is-bottom_right .popup-section .popup .popuptext.show {opacity: 1; visibility: visible;}
.whatsappchat.is-bottom_right .popup-section .popup .popuptext::after { top: auto; bottom: -16px; border-color: #13572a transparent transparent transparent; left: auto; right: 30px; }
.whatsappchat.is-bottom_left .popup-section .popup .popuptext { top: auto; bottom: 70px; }
.whatsappchat.is-bottom_left .popup-section .popup .popuptext::after { top: auto; bottom: -16px; border-color: #13572a transparent transparent transparent; } 


@media (max-width: 479px) {
	.whatsappchat .popup-section .popup .popuptext { width: 345px; }
}

@media (max-width: 360px) {
	.whatsappchat .popup-section .popup .popuptext { width: 300px; }
}

.whatsappchat .popup-section .message p { margin: 0px; }
.whatsappchat .popup-section .popup .popuptext .popup-box .popup-top .content .label {
font-size: 14px;
line-height: 1;
padding: 5px 10px !important;
border-radius: 4px;
}
