body:not(.com_gridbox) .body .main-body, .ba-overlay-section-backdrop.horizontal-top .ba-overlay-section.ba-container .ba-row-wrapper.ba-container, .ba-overlay-section-backdrop.horizontal-bottom .ba-overlay-section.ba-container .ba-row-wrapper.ba-container, .ba-container:not(.ba-overlay-section), .intro-post-wrapper > *:not(.intro-post-image-wrapper) {width: 1170px;}
@media (min-width: 1281px) {
.parallax-container {
    background-image: none !important;
    background-attachment: scroll !important;
}

.menu > .deeper.parent .nav-child  {
    padding: 10px 0;
    max-height: none !important;
}

.ba-menu-wrapper:not(.vertical-menu) .menu > li.deeper > span i.zmdi-caret-right:before,
.ba-menu-wrapper:not(.vertical-menu) .menu > li.deeper > a i.zmdi-caret-right:before {
    display: block;
    transform: rotate(90deg);
}

.vertical-menu .menu > .megamenu-item > span:after,
.vertical-menu .menu > .megamenu-item > a:after,
.vertical-menu .menu > .deeper.parent > span:after,
.vertical-menu .menu > .deeper.parent > a:after  {
    transform: rotate(-90deg);
}

.ba-lightbox:not(.ba-container) .ba-section {
    width: calc(100% - 100px) !important;
}

.gridbox.ba-lightbox-open .ba-cookies.notification-bar-top,
.gridbox.ba-lightbox-open .ba-cookies.notification-bar-bottom {
    width: calc(100% - 103px) !important;
}

body:not(.show-hidden-elements) .ba-hidden-lg {
    display: none !important;
}

body:not(.show-hidden-elements) .ba-hidden-lg:first-child  + .ba-column-resizer + .ba-grid-column-wrapper {
    margin-left: 0 !important;
}

.sidebar-menu > .ba-wrapper:not(.ba-sticky-header) > .ba-section > .ba-section-items > .ba-row-wrapper > .row-fluid >.column-wrapper >[class*="span"]{
    clear: both;
    margin-left: 0;
    width: 100% !important;
    margin-left: 0 !important;
}

.sidebar-menu {
    height: 100vh;
    position: fixed !important;
    left: 0;
    top: 0;
    width: var(--sidebar-menu-width) !important;
}

body:not(.show-hidden-elements) .column-wrapper {
    display: flex;
}

.ba-row .ba-overlay + .ba-edit-item + .ba-grid-column,
.no-gutter-desktop.row-fluid > .column-wrapper > [class*="span"] {
    margin-left: 0;
}

.header .no-gutter-desktop.row-fluid .column-wrapper > .span12,
.no-gutter-desktop.row-fluid > .column-wrapper > .span12 {
    width: 100%;
}

.header .no-gutter-desktop.row-fluid .column-wrapper > .span11,
.no-gutter-desktop.row-fluid > .column-wrapper > .span11 {
    width: 91.6%;
}

.header .no-gutter-desktop.row-fluid .column-wrapper > .span10,
.no-gutter-desktop.row-fluid > .column-wrapper> .span10 {
    width: 83.3%;
}

.header .no-gutter-desktop.row-fluid .column-wrapper > .span9,
.no-gutter-desktop.row-fluid > .column-wrapper > .span9 {
    width: 75%;
}

.header .no-gutter-desktop.row-fluid .column-wrapper > .span8,
.no-gutter-desktop.row-fluid > .column-wrapper > .span8 {
    width: 66.7%;
}

.header .no-gutter-desktop.row-fluid .column-wrapper > .span7,
.no-gutter-desktop.row-fluid > .column-wrapper > .span7 {
    width: 58.3%;
}

.header .no-gutter-desktop.row-fluid .column-wrapper > .span6,
.no-gutter-desktop.row-fluid > .column-wrapper > .span6 {
    width: 50%;
}

.header .no-gutter-desktop.row-fluid .column-wrapper > .span5,
.no-gutter-desktop.row-fluid > .column-wrapper > .span5 {
    width: 41.6%;
}

.header .no-gutter-desktop.row-fluid .column-wrapper > .span4,
.no-gutter-desktop.row-fluid > .column-wrapper > .span4 {
    width: 33.3%;
}

.header .no-gutter-desktop.row-fluid .column-wrapper > .span3,
.no-gutter-desktop.row-fluid > .column-wrapper > .span3 {
    width: 25%;
}

.header .no-gutter-desktop.row-fluid .column-wrapper > .span2,
.no-gutter-desktop.row-fluid > .column-wrapper > .span2 {
    width: 16.6%;
}

.header .no-gutter-desktop.row-fluid .column-wrapper > .span1,
.no-gutter-desktop.row-fluid > .column-wrapper > .span1 {
    width: 8.3%;
}

/*
/*   ba-style.css
*/

body.com_gridbox.gridbox .ba-overlay-section-backdrop > .ba-overlay-section-close,
body.com_gridbox.gridbox .ba-lightbox-backdrop > .ba-lightbox-close {
    left: -51px;
    right: 51px;
}

body.com_gridbox.gridbox.blog-post-editor .ba-overlay-section-backdrop > .ba-overlay-section-close,
body.com_gridbox.gridbox.blog-post-editor .ba-lightbox-backdrop > .ba-lightbox-close {
    right: 0;
    left: 0;
}

body.com_gridbox.gridbox.blog-post-editor .ba-overlay-section-backdrop.horizontal-bottom > .ba-overlay-section,
body.com_gridbox.gridbox.blog-post-editor .ba-overlay-section-backdrop.horizontal-top > .ba-overlay-section {
    width: 100%!important;
}

body.com_gridbox.gridbox .ba-overlay-section-backdrop.horizontal-bottom > .ba-overlay-section,
body.com_gridbox.gridbox .ba-overlay-section-backdrop.horizontal-top > .ba-overlay-section {
    width: calc(100% - 51px) !important;
}

body.com_gridbox.gridbox.lightbox-open,
body.com_gridbox.gridbox.search-open {
    box-sizing: border-box;
}

body.com_gridbox.gridbox .ba-overlay-section-backdrop .ba-overlay-section:not(.ba-container) > .ba-section {
    width: calc(100vw - 117px) !important;
}

body.com_gridbox.gridbox .ba-overlay-section-backdrop > .ba-overlay-section {
    margin-right: 51px !important;
}

body.com_gridbox.gridbox.blog-post-editor .ba-overlay-section-backdrop > .ba-overlay-section {
    margin-right: 0 !important;
}

body.com_gridbox.gridbox .lightbox-top-left .ba-lightbox,
body.com_gridbox.gridbox .lightbox-bottom-left .ba-lightbox {
    margin-left: 50px !important;
}

body.com_gridbox.gridbox .lightbox-top-right .ba-lightbox ,
body.com_gridbox.gridbox .lightbox-bottom-right .ba-lightbox {
    margin-right: 50px !important;
}

body.com_gridbox.gridbox .ba-lightbox-backdrop .ba-lightbox:not(.ba-container) .ba-section {
    width: calc(100% - 200px) !important;
}

body.com_gridbox.gridbox .ba-item-social.ba-social-sidebar {
    left: calc(100% - 51px) !important;
}

body.com_gridbox.gridbox.blog-post-editor .ba-item-social.ba-social-sidebar {
    transform: translateY(-49%) translateX(calc(-100% - 350px));
}

body.com_gridbox.gridbox.lightbox-open .ba-item-social.ba-social-sidebar
body.com_gridbox.gridbox.search-open .ba-item-social.ba-social-sidebar {
    left: calc(100% - 62px) !important;
    opacity: 0;
}

body.com_gridbox.gridbox .ba-item-blog-content .blog-content-backdrop {
    background: rgba(0, 0, 0, 0);
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 3;
}

body.com_gridbox.gridbox .fixed-header + .body .ba-item-blog-content .blog-content-backdrop {
    top: 0;
}

body.com_gridbox.gridbox .ba-item-in-blog-post {
    pointer-events: none;
}

body.com_gridbox.gridbox .ba-item-in-blog-post:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1050;
}

body.com_gridbox.gridbox .ba-item-in-blog-post:hover > .ba-edit-item {
    visibility: hidden;
    opacity: 0;
}

body.com_gridbox.gridbox .ba-search-result-body.ba-container {
    margin: 0 50px 0 50px !important;
}

body.com_gridbox.gridbox .ba-search-result-modal > i {
    left: calc(100% - 90px) !important;
}

body.com_gridbox.gridbox header.sidebar-menu {
    position: absolute !important; 
    top: 0!important;  
    left: 0!important; 
    z-index: 32!important; 
}

.ba-container header.sidebar-menu.fixed-header,
body.com_gridbox.gridbox header.sidebar-menu.fixed-header { 
    left: 52px!important; 
    position: fixed !important;    
    top: 0 !important;
    width: var(--sidebar-menu-width) !important; 
}

body.com_gridbox.gridbox .sidebar-menu .ba-wrapper:not(.ba-container) .ba-row-wrapper .ba-grid-column-wrapper.span1:last-child .ba-item .ba-edit-item:hover .ba-buttons-wrapper,
body.com_gridbox.gridbox .sidebar-menu .ba-wrapper:not(.ba-container) .ba-row-wrapper .ba-grid-column-wrapper.span2:last-child .ba-item .ba-edit-item:hover .ba-buttons-wrapper,
body.com_gridbox.gridbox .sidebar-menu .ba-wrapper:not(.ba-container) .ba-row-wrapper .ba-grid-column-wrapper.span3:last-child .ba-item .ba-edit-item:hover .ba-buttons-wrapper,
body.com_gridbox.gridbox .sidebar-menu .ba-wrapper:not(.ba-container) .ba-row-wrapper .ba-grid-column-wrapper.span4:last-child .ba-item .ba-edit-item:hover .ba-buttons-wrapper {
    right: auto !important;
    left: 5px !important;
    padding: 5px 10px 5px 50px !important;
}

body.com_gridbox.gridbox .sidebar-menu ~.footer:before {
    background: #f5f5f5;
    bottom: -40px;
    content: "";
    height: 40px;
    left: calc(var(--sidebar-menu-width)* -1);
    position: absolute;
    width: calc(100vw - 120px);
    z-index: 100;
}

body.com_gridbox.gridbox .sidebar-menu > .ba-wrapper >.ba-section > .ba-edit-item {
    left: calc(50% - 25px);
    right: auto;
    top: -25px;
}

body.com_gridbox.gridbox .instagram-modal i {
    left: 75px;
}

body.com_gridbox.gridbox .instagram-modal i.zmdi-close,
body.com_gridbox.gridbox .instagram-modal i + i {
    right: 25px;
    left: auto;
}

body.com_gridbox.gridbox .instagram-modal.ba-image-modal:before {
    margin: 0 50px;
}

.gridbox .ba-image-modal.instagram-modal {
    right: 50px;
}

.gridbox.blog-post-editor .ba-image-modal.instagram-modal {
    right: 0;
}

.instagram-modal-open {
    overflow: visible !important;
    width: 100% !important;
}

body.com_gridbox.gridbox .header:not(.sidebar-menu) .column-wrapper,
body.com_gridbox.gridbox .body .column-wrapper,
body.com_gridbox.gridbox .footer .column-wrapper {
    display: flex;
}

body.com_gridbox.gridbox.ba-opened-menu .body:before, 
body.com_gridbox.gridbox.ba-opened-menu .header:before, .lightbox-open .header.header:before {
    left: auto !important;
    right: 1px;
}

body.com_gridbox.gridbox .ba-hamburger-menu.ba-menu-position-left .main-menu.visible-menu {
    left: 35px!important;
}

body.com_gridbox.gridbox.ba-opened-menu .body:before,
body.com_gridbox.gridbox.ba-opened-menu .header:before,
body.com_gridbox.gridbox.lightbox-open .header.header:before {
    background: #f5f5f5;
    content: "";
    height: 50px !important;
    position: fixed;
    left: calc(100% - 66px);
    top: 0;
    width: 50px !important;
}

body.com_gridbox.gridbox .ba-hamburger-menu.ba-menu-position-left .main-menu.visible-menu,
body.com_gridbox.gridbox .ba-hamburger-menu .main-menu.visible-menu {
    margin-right: 54px;
}

body.com_gridbox.gridbox.lightbox-open .side-navigation-menu {
    right: 97px;
}

body.com_gridbox.gridbox .side-navigation-menu .ba-edit-item {
    right: -25px;
}

body.com_gridbox.gridbox .side-navigation-menu .ba-box-model {
    left: auto;
    right: -25px;
    width: 50px;
}

body.com_gridbox.gridbox .side-navigation-menu {
    right: 80px;
}

body.com_gridbox.gridbox.blog-post-editor .side-navigation-menu {
    right: 430px;
}

body.com_gridbox.gridbox .ba-sticky-header {
    left: 52px !important;
    margin: 0 auto;
    max-width: calc(100% - 103px)!important;
    right: 51px;
}

body.com_gridbox.gridbox .sidebar-menu .ba-sticky-header {
    max-width: calc(100% - var(--sidebar-menu-width) - 100px)!important
}

.ba-tabs-wrapper.tabs-right .tab-content,
.ba-tabs-wrapper.tabs-left .tab-content {
    flex-grow: 1;
    max-width: 75%;
}

/* Blog Post Editor */
body.com_gridbox.gridbox.blog-post-editor:not(.gridbox-apps-editor) .lightbox-top-right .ba-lightbox, 
body.com_gridbox.gridbox.blog-post-editor:not(.gridbox-apps-editor) .lightbox-top-left .ba-lightbox {
    top: 120px !important;
}

body.com_gridbox.gridbox.blog-post-editor:not(.gridbox-apps-editor) .ba-overlay-section-backdrop > .ba-overlay-section-close,
body.com_gridbox.gridbox.blog-post-editor:not(.gridbox-apps-editor) .ba-lightbox-backdrop > .ba-lightbox-close,
body.com_gridbox.gridbox.blog-post-editor:not(.gridbox-apps-editor) .ba-overlay-section-backdrop,
body.com_gridbox.gridbox.blog-post-editor:not(.gridbox-apps-editor) .ba-lightbox-backdrop.lightbox-center {
    top: 65px;
    min-height: auto;
}

body.com_gridbox.gridbox.blog-post-editor .ba-overlay-section-backdrop > .ba-overlay-section-close,
body.com_gridbox.gridbox.blog-post-editor .ba-lightbox-backdrop > .ba-lightbox-close,
body.com_gridbox.gridbox.blog-post-editor .ba-overlay-section-backdrop,
body.com_gridbox.gridbox.blog-post-editor .ba-lightbox-backdrop.lightbox-center {
    left: 50px;
    right: 400px;
}

.gridbox.blog-post-editor:not(.gridbox-apps-editor) .ba-overlay-section-backdrop.vertical-left > .ba-overlay-section >.ba-section,
.gridbox.blog-post-editor:not(.gridbox-apps-editor) .ba-overlay-section-backdrop.vertical-right > .ba-overlay-section > .ba-section {
    min-height: calc(100vh - 65px) !important;
}

body.com_gridbox.gridbox.blog-post-editor.lightbox-open {
    min-height: 100vh;
}

body.com_gridbox.gridbox.blog-post-editor .ba-lightbox-backdrop.ba-cookies.visible-lightbox {
    left: 52px;
}

body.com_gridbox.gridbox.blog-post-editor .lightbox-bottom-right .ba-lightbox,
body.com_gridbox.gridbox.blog-post-editor .lightbox-top-right .ba-lightbox {
    right: 400px;
}

.gridbox.ba-lightbox-open.blog-post-editor .ba-cookies.notification-bar-top,
.gridbox.ba-lightbox-open.blog-post-editor .ba-cookies.notification-bar-bottom {
    width: calc(100% - 450px) !important;
}

body.com_gridbox.gridbox .megamenu-item > .tabs-content-wrapper:not(.ba-container) {
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    box-sizing: border-box;
}

body.com_gridbox.gridbox .sidebar-menu .ba-row-wrapper:hover {
    z-index: 45;
}

.ba-date-cell.ba-event-date:hover:after {
    background-color: var(--hover);
}

.event-calendar-events-list > i{
    display: none;
}
}@media (min-width: 1025px) {
.main-menu > .ba-item {
    margin: 0 !important;
    visibility: hidden !important;
    height: 0;
    overflow: hidden;
    min-height: 0;
    padding: 0;
}
}@media (max-width: 1024px) {
/*
/* Menu
*/

.open-menu i {
    color: inherit;
    font-size: 30px;
    padding: 15px;
}

.ba-opened-menu .row-with-menu {
    z-index: auto !important;
}

.ba-opened-menu .ba-section > .ba-overlay {
    z-index: 0;
}

.ba-opened-menu .ba-item-scroll-to-top {
    z-index: 9 !important;
}

.row-with-menu .ba-row {
    position: initial;
}

.ba-hamburger-menu .nav-child > .deeper:before {
    display: none;
}

.ba-hamburger-menu > .open-menu {
    background: transparent;
    border: none;
    display: block;
    font-size: 30px;
}

.ba-hamburger-menu > .main-menu >.close-menu {
    display: block;
    left: 0;
    line-height: 18px;
    margin: 0 47px 0 30px;
    position: absolute;
    text-decoration: none;
    top: 20px;
    width: calc(100% - 75px);
    z-index: 1;
}

.gridbox .ba-hamburger-menu > .main-menu > .add-new-item{
    display: block;
}

.main-menu.visible-menu.menu-sortable-started * {
    cursor: move!important;
}

.main-menu.visible-menu.menu-sortable-started .ba-item.sortable-helper {
    pointer-events: none!important;
}

.add-new-item {
    text-align: center;
}

.add-new-item > span {
    padding: 10px 10px 25px;
    display: block;
}

@-moz-document url-prefix() {
    .add-new-item > span {
        padding: 10px 10px 50px;
        display: block;
    }
}

.ba-hamburger-menu .nav-child .deeper:hover .nav-child,
.ba-hamburger-menu .nav .deeper.parent .nav-child {
    position: static !important;
    margin-left: 0 !important;
}

.ba-hamburger-menu >.main-menu {
    height: calc(100% - 60px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 75px 30px 30px 30px;
    position: fixed;
    right: -500px;
    top: 0;
    transition: right .5s ease;
    width: 300px;
    z-index: 1500;
}

@keyframes ba-visible-menu-backdrop {
    0% { opacity: 0;}
    100% { opacity: .1;}
}

.ba-visible-menu-backdrop.ba-menu-backdrop {
    animation: ba-visible-menu-backdrop 0.3s;
    display: block;
    opacity: .1;
    z-index: 20;
}

@keyframes ba-menu-backdrop-out {
    0% {opacity: .1;}
    100% {opacity: 0;}
}

.ba-menu-backdrop.ba-menu-backdrop-out {
    animation: ba-menu-backdrop-out 0.3s;
    display: block;
    opacity: .1;
    z-index: 20;
}

.ba-hamburger-menu >.nav .deeper.parent ul.nav-child {
    background: transparent;
    box-sizing: border-box;
    display: block;
    padding: 0 0 0 20px !important;
}

.ba-hamburger-menu >.main-menu .nav.menu li {
    float: none;
}

.ba-hamburger-menu > .main-menu .nav li.deeper .nav-child,
.ba-hamburger-menu .nav-child {
    display: block;
    transform: none !important;
}

.megamenu-item > a:after,
.megamenu-item > span:after,
.deeper.parent > span:after,
.deeper.parent > a:after {
    padding: 5px;
    content: '';
    margin-left: 0.6em;
}

.row-with-megamenu .ba-item-main-menu .nav-child {
    display: block !important;
}

.row-with-megamenu .ba-item-main-menu .megamenu-item .nav-child {
    display: none !important;
}

.ba-hamburger-menu.ba-collapse-submenu .deeper.parent:not(.visible-nav-child) > ul.nav-child {
    padding-top: 0 !important;
    box-sizing: border-box;
    padding-bottom: 0 !important;
}

.ba-hamburger-menu.ba-collapse-submenu .deeper.parent > .tabs-content-wrapper,
.ba-hamburger-menu.ba-collapse-submenu .deeper.parent > ul.nav-child {
    max-height: 0 ;
    overflow: hidden;
}

@keyframes visible-nav-child {
    0% {max-height: 0; overflow: hidden;opacity: 0;}
    99%{max-height: 400vh; overflow: visible; opacity: 1;}
    100%{max-height: 400vh; overflow: visible; opacity: 1;}
}

.ba-hamburger-menu.ba-collapse-submenu .deeper.parent.visible-nav-child > .tabs-content-wrapper,
.ba-hamburger-menu.ba-collapse-submenu .deeper.parent.visible-nav-child > ul.nav-child {
    animation: visible-nav-child .5s linear both!important;
    box-sizing: border-box;
    overflow: visible;
}

@keyframes hidden-nav-child {
    to{max-height: 0vh; overflow: hidden; opacity: 0;}
}

.ba-hamburger-menu.ba-collapse-submenu .deeper.parent.hidden-nav-child > .tabs-content-wrapper,
.ba-hamburger-menu.ba-collapse-submenu .deeper.parent.hidden-nav-child > ul.nav-child {
    animation: hidden-nav-child .3s linear both!important;
    overflow: hidden;
}

.ba-menu-wrapper:not(.ba-collapse-submenu) li.deeper > span i.zmdi-caret-right,
.ba-menu-wrapper:not(.ba-collapse-submenu) li.deeper > a i.zmdi-caret-right,
.ba-hamburger-menu .nav-child > li.deeper > span:before,
.ba-hamburger-menu .nav-child > li.deeper > a:before {
    display: none !important;
}

.ba-hamburger-menu.ba-collapse-submenu li.deeper > span i:not(.ba-menu-item-icon),
.ba-hamburger-menu.ba-collapse-submenu li.deeper > a i:not(.ba-menu-item-icon) {
    align-items: center;
    background: rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: inherit;
    display: flex !important;
    font-size: 24px;
    height: 100%;
    padding: 0 17px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

.ba-hamburger-menu.ba-collapse-submenu li.deeper > span,
.ba-hamburger-menu.ba-collapse-submenu li.deeper > a {
    box-sizing: border-box;
    padding-right: 50px !important;
    width: 100%;
}

.ba-hamburger-menu.ba-collapse-submenu .deeper.parent > span i:before,
.ba-hamburger-menu.ba-collapse-submenu .deeper.parent > a i:before {
    display: inline-block;
    transition: all .15s linear;
}

.ba-hamburger-menu.ba-collapse-submenu .deeper.parent.visible-nav-child > span i:not(.ba-menu-item-icon):before,
.ba-hamburger-menu.ba-collapse-submenu .deeper.parent.visible-nav-child > a i:not(.ba-menu-item-icon):before {
    transform: rotate(90deg);
}

.ba-hamburger-menu > .main-menu .nav.menu li,
.ba-hamburger-menu > .main-menu .nav.menu > li.active,
.ba-hamburger-menu > .main-menu .nav.menu > li:hover,
.ba-hamburger-menu .nav-child .deeper:hover .nav-child,
.ba-hamburger-menu .nav .deeper.parent .nav-child {
    background: transparent !important;
    border-radius: 0px!important;
    border: none !important;
    box-shadow: none!important;
    width: 100%!important;
    margin-right: 0 !important;
}

.ba-hamburger-menu .nav > .deeper.parent > .nav-child {
    margin-top: 0;
}

.ba-opened-menu.lightbox-open .ba-hamburger-menu > .main-menu.visible-menu {
    right: auto !important;
    left: 100%;
    transform: translateX(-100%);
}

.ba-hamburger-menu > .main-menu .close-menu i {
    color: inherit;
    cursor: pointer;
    font-size: 24px;
}

.row-with-megamenu .ba-item-main-menu .ba-menu-wrapper:not(.ba-collapse-submenu) .deeper.parent:not(.megamenu-item) .nav-child {
    display: block !important;
}

/* Menu Position Left */
.ba-hamburger-menu.ba-menu-position-left >.main-menu {
    direction: rtl;
    right: auto;
    left: -500px;
    transition: left .5s ease;
}

.row-with-megamenu .ba-hamburger-menu.ba-menu-position-left >.main-menu,
.ba-hamburger-menu.ba-menu-position-left >.main-menu.visible-menu {
    left: -17px !important;
    right: auto !important;
    transform: none !important;
}

.row-with-megamenu .ba-hamburger-menu.ba-menu-position-left >.main-menu *,
.ba-hamburger-menu.ba-menu-position-left >.main-menu.visible-menu *{
    direction: ltr;
}

.ba-hamburger-menu.ba-menu-position-left .close-menu{
    left: auto;
    right: 0;
    margin: 0 30px 0 47px;
}

/* Menu Position Center */
.ba-hamburger-menu.ba-menu-position-center >.main-menu {
    box-sizing: border-box;
    left: 100vw;
    min-height: 100vh;
    opacity: 0;
    right: auto;
    transition: opacity .3s ease, visibility .1s .4s ;
    visibility: hidden;
    width: 100vw;
}

.row-with-megamenu .ba-hamburger-menu.ba-menu-position-center >.main-menu,
.ba-hamburger-menu.ba-menu-position-center >.main-menu.visible-menu {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease;
}

a,
.ba-hamburger-menu > .main-menu >.close-menu,
.nav > .deeper.parent > .nav-child li a {
    -webkit-tap-highlight-color: transparent;
}

.gridbox .column-with-menu > .ba-grid-column-wrapper {
    z-index: inherit;
}

/* Sidebar menu */
.ba-item-one-page-menu.side-navigation-menu {
    position: static;
    right: auto;
    transform: none;
    width: 100%;
}

.ba-item-one-page-menu.side-navigation-menu li:not(.active) a {
    margin: 0;
}

.side-navigation-menu li a {
    left: 0 !important;
}

.ba-item-one-page-menu.side-navigation-menu li a:after,
.ba-item-one-page-menu.side-navigation-menu li a:before {
    display: none;
}

.ba-item-one-page-menu.side-navigation-menu li a {
    text-align: inherit !important;
}

.vertical-menu .megamenu-item > .tabs-content-wrapper.ba-container,
.vertical-menu .main-menu .nav.menu > li.deeper.parent>.nav-child {
    margin-left: 0 !important;
}

/*
/* Megamenu
*/

.ba-hamburger-menu > .main-menu .megamenu-item >.tabs-content-wrapper {
    display: block !important;
    margin: 0 !important;
    position: static !important;
    transform: none !important;
}

.ba-hamburger-menu > .main-menu .megamenu-item >.tabs-content-wrapper .ba-section,
.ba-hamburger-menu > .main-menu .megamenu-item >.tabs-content-wrapper {
    width: 100% !important;
    box-shadow: none !important;
}

.ba-hamburger-menu > .main-menu .megamenu-item {
    display: flex !important;
    flex-direction: column-reverse;
    overflow: visible !important;
}

.ba-hamburger-menu .megamenu-item > .tabs-content-wrapper:not(.ba-container),
.ba-hamburger-menu .megamenu-item > .tabs-content-wrapper {
    border: none !important;
    padding: 0 !important;
}

.ba-hamburger-menu .megamenu-item .ba-item .ba-edit-item{
    z-index: 50;
}

/*
/* ba-style
*/

body.com_gridbox.gridbox .ba-opened-menu .ba-add-section {
    opacity: 0 !important;
    z-index: 9 !important;
}

body.com_gridbox.gridbox.ba-opened-menu .ba-section-items {
    z-index: auto;
}

body.com_gridbox.gridbox.ba-opened-menu .main-menu.menu-sortable-started > div:not(.sortable-helper) > .ba-edit-item,
body.com_gridbox.gridbox.ba-opened-menu .ba-row .ba-column-resizer,
body.com_gridbox.gridbox.ba-opened-menu div:not(.visible-menu) > div > .ba-edit-item {
    display: none !important;
}


body.com_gridbox.gridbox.ba-opened-menu div:not(.visible-menu) > .ba-overlay-section div:hover > .ba-edit-item,
body.com_gridbox.gridbox.ba-opened-menu div:not(.visible-menu)  div.ba-item:hover > .ba-edit-item {
    display: flex !important;
}

body.com_gridbox.gridbox.ba-opened-menu.lightbox-open .ba-edit-item {
    display: block !important;
}

body.com_gridbox.gridbox.ba-opened-menu .menu div:hover > .ba-edit-item  {
    display: block !important;
    visibility: visible;
    opacity: 1;
}

body.com_gridbox.gridbox.ba-opened-menu:not(.lightbox-open) .active-item:not(.sortable-helper) > div > .ba-overlay {
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0)!important;
    outline-color: transparent!important;
    transition: none!important;
}

.ba-opened-menu .body:before,
.ba-opened-menu .header:before,
.ba-opened-menu .header .page-layout,
.ba-opened-menu .body .page-layout,
.ba-opened-menu .footer .page-layout,
.ba-opened-menu .header .page-layout,
.ba-opened-menu .body .page-layout,
.ba-opened-menu .footer .page-layout {
    z-index: 99999;
}

.gridbox .ba-item-one-page-menu .ba-hamburger-menu ~ .ba-edit-item .ba-buttons-wrapper .ba-edit-wrapper:first-child,
.gridbox .ba-item-main-menu .ba-hamburger-menu ~ .ba-edit-item .ba-buttons-wrapper .ba-edit-wrapper:first-child {
    display: inline-block !important;
}

/* Fields Filter */
.open-responsive-filters {
    background: var(--primary);
    border-radius: 3px;
    color: #fff !important;
    cursor: pointer;
    display: block;
    font-weight: bold !important;
    letter-spacing: 0px !important;
    line-height: initial !important;
    order: 100;
    padding: 15px 40px;
    text-align: center;
    margin-bottom: 25px;
    transition: all .3s;
}

.open-responsive-filters i {
    font-size: 24px;
    margin-right: 10px;
}

.ba-item-fields-filter .ba-fields-filter-wrapper {
    height: 0;
    overflow: var(--responsive-filters-overflow);
    transition: height .5s;
}

.ba-fields-filter-wrapper.visible-responsive-filters {
    height: var(--responsive-filters-height);
}

.ba-item-fields-filter .ba-fields-filter-wrapper.horizontal-filter-bar {
    flex-wrap: inherit;
}

.ba-item-fields-filter .ba-field-filter-range-wrapper .price-range-handle {
    border-radius: 15px;
    height: 30px;
    margin-top: -15px;
    width: 30px;
}

.ba-item-fields-filter .ba-field-filter-range-wrapper .price-range-handle:before {
    border-radius: 15px;
    height: 30px;
    width: 30px;
}

.ba-item-fields-filter .ba-field-filter-input-wrapper {
    margin-top: 25px;
}

.ba-item-fields-filter .ba-field-filter-range-wrapper .price-range-handle + .price-range-handle {
    margin-left: -30px;
}

.visible-horizontal-filters-value .ba-field-filter-value-wrapper {
    padding: 35px 20px;
}

.ba-items-filter-wrapper {
    --responsive-filters-overflow: hidden;
}

.horizontal-filter-bar .ba-selected-filter-values-wrapper {
    flex-direction: column;
}

.ba-items-filter-search-button,
.ba-selected-filter-values-footer {
    box-sizing: border-box;
    line-height: 24px !important;
    text-align: center;
    width: 100%;
}

.ba-item-fields-filter .ba-fields-filter-wrapper.horizontal-filter-bar {
    flex-direction: column;
}

.ba-item-fields-filter .ba-fields-filter-wrapper.horizontal-filter-bar .ba-field-filter {
    margin-right: 0;
    margin-bottom: 20px !important;
}

.ba-item-fields-filter .ba-fields-filter-wrapper.horizontal-filter-bar .ba-field-filter-value-wrapper {
    left: 50%;
    transform: translateX(-50%);
}

.gridbox .ba-hamburger-menu > .main-menu > .add-new-item > span .ba-tooltip {
    bottom: auto !important;
    top: -50px;
}

.gridbox .ba-hamburger-menu > .main-menu > .add-new-item > span .ba-tooltip:before {
    border-top: 5px solid #2c2c2c;
    top: auto;
    bottom: -9px;
    border-bottom-color: transparent;
}
}
@media (max-width: 1440px) {
body.com_gridbox.gridbox.ba-opened-menu .body:before,
body.com_gridbox.gridbox.ba-opened-menu .header:before,
body.com_gridbox.gridbox.lightbox-open .header.header:before,
body.com_gridbox.gridbox .ba-edit-blog-post,
body.com_gridbox.gridbox .ba-item-blog-content:hover > .ba-edit-item,
body.com_gridbox.gridbox .page-layout {
    display: none !important;
}

body.com_gridbox.gridbox:before {
    border: none;
}

body.com_gridbox.gridbox .ba-section > .ba-edit-item {
    right: 0;
}

[dir="rtl"] body.com_gridbox.gridbox .ba-section > .ba-edit-item  {
    left: 0px;
    right: auto !important;
}

body.com_gridbox.gridbox .ba-overlay-section-backdrop > .ba-overlay-section-close,
body.com_gridbox.gridbox .ba-lightbox-backdrop.visible-lightbox  > .ba-lightbox-close {
    left: 0;
    right: 0;
}

body.com_gridbox.gridbox .ba-overlay-section-backdrop > .ba-overlay-section-close,
body.com_gridbox.gridbox .ba-lightbox-backdrop.visible-lightbox  > .ba-lightbox-close {
    right: 0px !important;
    top: 0;
}

body.com_gridbox.gridbox.blog-post-editor .ba-overlay-section-backdrop > .ba-overlay-section-close, 
body.com_gridbox.gridbox.blog-post-editor .ba-lightbox-backdrop > .ba-lightbox-close, 
body.com_gridbox.gridbox.blog-post-editor .ba-overlay-section-backdrop, 
body.com_gridbox.gridbox.blog-post-editor .ba-lightbox-backdrop.lightbox-center {
    right: 50px;
}

body.com_gridbox.gridbox:not(.blog-editor) .ba-overlay-section-backdrop {
    padding: 0 !important; 
}
body.com_gridbox.gridbox .ba-overlay-section-backdrop.visible-section .ba-overlay-section:not(.ba-container)>.ba-section {
    width: calc(100vw - 15px) !important;
}

body .ba-overlay-section-backdrop .ba-overlay-section:not(.ba-container) > .ba-section {
    width: 100vw !important;
}

.gridbox.ba-lightbox-open .ba-cookies.notification-bar-top,
.gridbox.ba-lightbox-open .ba-cookies.notification-bar-bottom,
body.com_gridbox.gridbox .ba-overlay-section-backdrop.horizontal-bottom > .ba-overlay-section,
body.com_gridbox.gridbox .ba-overlay-section-backdrop.horizontal-top > .ba-overlay-section {
    width: 100% !important;
}

body.com_gridbox.gridbox .lightbox-top-right .ba-lightbox, 
body.com_gridbox.gridbox .lightbox-bottom-right .ba-lightbox,
body.com_gridbox.gridbox .ba-overlay-section-backdrop > .ba-overlay-section {
    margin-right: 0 !important;
}

body.com_gridbox.gridbox .lightbox-top-left .ba-lightbox,
body.com_gridbox.gridbox .lightbox-bottom-left .ba-lightbox {
    margin-left: 0 !important;
}

.gridbox .ba-image-modal.instagram-modal {
    right: 0px;
}

body.com_gridbox.gridbox .instagram-modal i {
    left: 0;
}

body.com_gridbox.gridbox .instagram-modal i.zmdi-close,
body.com_gridbox.gridbox .instagram-modal i + i{
    left: auto;
    right: 0;
}

body.com_gridbox.gridbox .ba-item-scroll-to-top {
    margin: 0;
}

body.com_gridbox.gridbox .sidebar-menu .ba-sticky-header,
body.com_gridbox.gridbox .ba-sticky-header {
    left: 0px !important;
    max-width: 100% !important;
    right: 0px;
}

body.com_gridbox.gridbox .ba-item-social.ba-social-sidebar {
    left: 100% !important;
}

body.com_gridbox.gridbox.blog-post-editor .side-navigation-menu{
    right: 30px;
}

body.com_gridbox.gridbox.blog-post-editor .ba-item-social.ba-social-sidebar {
    transform: translateY(-49%) translateX(-100%);
}

body.com_gridbox.gridbox.blog-post-editor .ba-overlay-section-backdrop > .ba-overlay-section-close, 
body.com_gridbox.gridbox.blog-post-editor .ba-lightbox-backdrop > .ba-lightbox-close, 
body.com_gridbox.gridbox.blog-post-editor .ba-overlay-section-backdrop, 
body.com_gridbox.gridbox.blog-post-editor .ba-lightbox-backdrop.lightbox-center {
    top: 0;
    left: 0;
    right: 0 !important;
}

.gridbox.blog-post-editor .ba-overlay-section-backdrop.vertical-left > .ba-overlay-section >.ba-section,
.gridbox.blog-post-editor .ba-overlay-section-backdrop.vertical-right > .ba-overlay-section > .ba-section {
    min-height: 100vh!important;
}

body.com_gridbox.gridbox.blog-post-editor .lightbox-bottom-right .ba-lightbox,
body.com_gridbox.gridbox.blog-post-editor .lightbox-top-right .ba-lightbox {
    right: 50px;
}

body.com_gridbox.gridbox.blog-post-editor .lightbox-top-left .ba-lightbox,
body.com_gridbox.gridbox.blog-post-editor .lightbox-bottom-left .ba-lightbox {
    left: 50px
}

body.com_gridbox.gridbox.blog-post-editor .lightbox-top-right .ba-lightbox,
body.com_gridbox.gridbox.blog-post-editor .lightbox-top-left .ba-lightbox {
    top: 50px !important;
}

body.com_gridbox.gridbox.blog-post-editor .ba-lightbox-backdrop.ba-cookies.visible-lightbox {
    left: 0;
    width: 100% !important;
}

.ba-container header.sidebar-menu.fixed-header,
body.com_gridbox.gridbox header.sidebar-menu.fixed-header {
    left:  0!important;
}

.com_gridbox.gridbox.ba-system-editing .sidebar-menu + .body .ba-item-preloader {
    margin-left: calc(0px - var(--sidebar-menu-width));
    width: calc(100% + var(--sidebar-menu-width)) !important;
}

.ba-laptop-sticky-column-enabled {    
    display: block !important;
}

.ba-laptop-sticky-column-enabled > .ba-grid-column {
    position: sticky;
}

.ba-laptop-sticky-column-disabled {
    display: flex !important;
}

.ba-laptop-sticky-column-disabled > .ba-grid-column {
    position: relative;
}}
@media (max-width: 1280px) {
.ba-edit-blog-post,
.ba-item-blog-content:hover > .ba-edit-item,
.page-layout {
    display: none;
}

.ba-item-image .ba-image-wrapper img {
    width: 100% ;
}

/* Plugin Tabs */
.ba-tabs-wrapper li,
.ba-tabs-wrapper .nav-tabs {
    display: block !important;
    float: none!important;
    width: 100% !important;
}

.ba-tabs-wrapper .nav-tabs li a {
    border-bottom: none !important;
}

.ba-tabs-wrapper .nav-tabs li a:before,
.ba-tabs-wrapper .nav-tabs li a:before {
    bottom: 0;
    height: 100% !important;
    left: -1px;
    top: 0 !important;
    transition: width .3s !important;
    width: 0 !important;
}

.ba-tabs-wrapper li.active a:before,
.ba-tabs-wrapper li.active a:before {
    width: 4px !important;
}

.ba-tabs-wrapper.tabs-left,
.ba-tabs-wrapper.tabs-right {
    display: block;
}

.ba-tabs-wrapper.tabs-right li a:before {
    left: -1px;
    right: auto;
}

.ba-tabs-wrapper.tabs-right .nav-tabs,
.ba-tabs-wrapper.tabs-left .nav-tabs {
    max-width: none;
}

/* Sidebar Menu */
.sidebar-menu .ba-wrapper.ba-sticky-header,
.sidebar-menu + .body ~ .footer,
.sidebar-menu + .body {
    width: 100% !important;
}

.header.sidebar-menu .ba-section.row-fluid {
    min-height: auto !important;
}

.ba-item.sortable-placeholder,
.sortable-placeholder {
    margin: 0 auto !important;
}

.sidebar-menu .ba-wrapper.ba-sticky-header,
.sidebar-menu + .body ~ .footer,
.sidebar-menu + .body {
    margin: 0 !important;
}

/* Plugin Slideshow */
.ba-item-slideshow .ba-slideshow-caption {
    padding: 20px;
}

.ba-slideshow-dots.enabled-dots,
.ba-slideshow-dots.thumbnails-dots {
    display: none;
}

/* Plugin Lightbox */
.ba-overlay-section-backdrop .ba-section,
.ba-lightbox .ba-section,
.ba-lightbox {
    box-sizing: border-box;
    max-width: 100%;
}

.ba-overlay-section-backdrop.lightbox .ba-overlay-section,
.ba-overlay-section-backdrop.vertical-left > .ba-overlay-section >.ba-section,
.ba-overlay-section-backdrop.vertical-right > .ba-overlay-section > .ba-section {
    max-width: 100vw;
}

.ba-lightbox-backdrop:not(.lightbox-center):not(.ba-cookies) .ba-lightbox {
    margin: 0 20px;
    max-width: calc(100% - 40px);
}

.ba-overlay-section-backdrop,
.ba-lightbox-backdrop {
    right: 0 !important;
}

.lightbox-bottom-right .ba-lightbox,
.lightbox-top-right .ba-lightbox {
    right: 0;
}

.lightbox-top-left .ba-lightbox,
.lightbox-bottom-left .ba-lightbox {
    left: 0;
}

.ba-search-result-body {
    padding-left: 25px;
    padding-right: 25px;
}

.parallax-wrapper {
    display: none;
}

.ba-slideshow-img video,
.ba-slideshow-img iframe {
    display: none !important;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    @media(max-width: 1024px) {
        .com_gridbox:not(.gridbox).ba-visible-checkout-authentication .body {
            overflow: visible;
        }
    }
}

@supports (-webkit-text-size-adjust:none) and (-webkit-marquee-repetition:infinite) and (object-fit:fill) {
    @media(max-width: 1024px) {
        .com_gridbox:not(.gridbox).ba-visible-checkout-authentication .body {
            overflow: visible;
        }
    }
}

@media not all and (min-resolution:.001dpcm) {
    @media(max-width: 1024px) {
        .com_gridbox:not(.gridbox).ba-visible-checkout-authentication .body {
            overflow: visible;
        }
    }
}

.com_gridbox input:not([type="checkbox"]) {
    -webkit-appearance: none !important;
}

.body .login + div,
.body .remind > form,
.body .reset > form,
.body .login > form {
    margin: 0 auto!important;
    width: calc(100% - 50px) !important;
}

.control-group .control-label {
    width: 30%!important;
}

.form-horizontal .controls {
    margin-left: 35% !important;
}

.body .login #password,
.body .login #username {
    width: 100%!important;
}

.column-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ba-grid-column-wrapper {
    flex-grow: 0;
}

.body [class*="span"],
.footer [class*="span"],
[class*="span"] {
    margin-left: 0;
    width: 100%;
}

[dir="rtl"] .body [class*="span"], 
[dir="rtl"] .footer [class*="span"], 
[dir="rtl"] [class*="span"] {
    margin-right: 0 !important;
}

.header .span12,
.header [class*="span"].ba-tb-la-12,
.body .ba-tb-la-12,
.footer .ba-tb-la-12,
.ba-tb-la-12 {
    width: 100%;
}

.header .span11,
.header [class*="span"].ba-tb-la-11,
.body .ba-tb-la-11,
.footer .ba-tb-la-11,
.ba-tb-la-11 {
    width: 91.66666667%;
}

.header .span10,
.header [class*="span"].ba-tb-la-10,
.body .ba-tb-la-10,
.footer .ba-tb-la-10,
.ba-tb-la-10 {
    width: 83.33333333%;
}

.header .span9,
.header [class*="span"].ba-tb-la-9,
.body .ba-tb-la-9,
.footer .ba-tb-la-9,
.ba-tb-la-9 {
    width: 75%;
}

.header .span8,
.header [class*="span"].ba-tb-la-8,
.body .ba-tb-la-8,
.footer .ba-tb-la-8,
.ba-tb-la-8 {
    width: 66.66666667%;
}

.header .span7,
.header [class*="span"].ba-tb-la-7,
.body .ba-tb-la-7,
.footer .ba-tb-la-7,
.ba-tb-la-7 {
    width: 58.33333333%;
}

.header .span6,
.header [class*="span"].ba-tb-la-6,
.body .ba-tb-la-6,
.footer .ba-tb-la-6,
.ba-tb-la-6 {
    width: 50%;
}

.header .span5,
.header [class*="span"].ba-tb-la-5,
.body .ba-tb-la-5,
.footer .ba-tb-la-5,
.ba-tb-la-5 {
    width: 41.66666667%;
}

.header .span4,
.header [class*="span"].ba-tb-la-4,
.body .ba-tb-la-4,
.footer .ba-tb-la-4,
.ba-tb-la-4 {
    width: 33.33333333%;
}

.header .span3,
.header [class*="span"].ba-tb-la-3,
.body .ba-tb-la-3,
.footer .ba-tb-la-3,
.ba-tb-la-3 {
    width: 25%;
}

.header .span2,
.header [class*="span"].ba-tb-la-2,
.body .ba-tb-la-2,
.footer .ba-tb-la-2,
.ba-tb-la-2 {
    width: 16.66666667%;
}

.header .span1,
.header [class*="span"].ba-tb-la-1,
.body .ba-tb-la-1,
.footer .ba-tb-la-1,
.ba-tb-la-1 {
    width: 8.33333333%;
}

body:not(.com_gridbox) .body {
    padding: 0 25px;
}

/*
/* Columns Order
*/

.column-wrapper .ba-grid-column-wrapper.ba-tb-la-order-1 {
    order: 1;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-la-order-2 {
    order: 2;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-la-order-3 {
    order: 3;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-la-order-4 {
    order: 4;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-la-order-5 {
    order: 5;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-la-order-6 {
    order: 6;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-la-order-7 {
    order: 7;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-la-order-8 {
    order: 8;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-la-order-9 {
    order: 9;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-la-order-10 {
    order: 10;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-la-order-11 {
    order: 11;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-la-order-12 {
    order: 12;
}

/*
/*    ba-style.css
*/

body.com_gridbox.gridbox > * .ba-row .ba-column-resizer {
    display: none;
}

body.com_gridbox.gridbox .ba-grid-column {
    transition: none !important;
}

body.com_gridbox.gridbox .header:hover + .body .ba-add-section {
    z-index: 100;
}

body.com_gridbox.gridbox .active-item {
    z-index: 5;
}

body.com_gridbox.gridbox .column-with-menu .ba-grid-column-wrapper,
body.com_gridbox.gridbox .row-with-menu .active-item {
    z-index: initial;
}

body.com_gridbox.gridbox .ba-add-section {
    transition: opacity .3s ease-in-out;
}

body.com_gridbox.gridbox:not(.blog-editor) .ba-overlay-section-backdrop {
    padding: 0 !important;
}

body.com_gridbox.gridbox .ba-overlay-section-backdrop.visible-section .ba-overlay-section:not(.ba-container)>.ba-section {
    width: calc(100vw - 15px) !important;
}

body .ba-overlay-section-backdrop .ba-overlay-section:not(.ba-container) > .ba-section {
    width: 100vw !important;
}

.ba-video-background video,
.ba-video-background iframe {
    left: 0;
    min-height: 100% !important;
    top: 0;
    transform: translateX(-50%)translateX(50vw);
    width: calc(200vh/.5624);
}

/* Preloader */
.preloader-animation-out .preloader-wrapper {
    animation: pt-fade-out .5s .3s linear both !important;
}

.preloader-wrapper.ba-pt-split-diamond:after,
.preloader-wrapper.ba-pt-split-diamond:before {
    animation: none!important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

/* Calendar */
@keyframes calendar-tablet {
    from {opacity: 0;}
    to {opacity: 1;}
}

.event-calendar-events-list {
    animation: calendar-tablet .3s cubic-bezier(0.4, 0, 0.2, 1) both !important;
    left: calc(50% - 186px) !important;
    max-height: 90vh;
    max-width: 90%;
    overflow-y: auto;
    position: fixed !important;
    top: calc(50% - (var(--event-calendar-list-height)/2) )!important;
}

.event-calendar-events-list .event-calendar-row-wrapper {
    box-sizing: border-box;
    max-height: 90vh;
}

.event-calendar-events-list:after {
    display: none;
}

.comment-reply-form-wrapper,
.ba-comment-reply-wrapper {
    margin-left: 0;
}

.ba-tabs-wrapper .ba-item-text li {
    display: list-item !important;
}

@keyframes notification-responsive {
    from {bottom: 0; transform: translateY(100%) translateX(50%); opacity: 0;}
}

#ba-notification.notification-in {
    animation: notification-responsive .4s cubic-bezier(.25,.98,.26,.99) both;
}

#ba-notification {
    right: 50%;
    transform: translateX(50%);
}

@keyframes notification-responsive-out {
    to {bottom: 0; transform: translateY(130%) translateX(50%); opacity: 0;}
}

body #ba-notification.animation-out {
    animation: notification-responsive-out .4s cubic-bezier(.25,.98,.26,.99) both;
}

.sidebar-menu .ba-section > .ba-edit-item .ba-buttons-wrapper {
    left: auto;
    padding: 5px 50px 5px 10px;
    right: 5px;
}

.com_gridbox.gridbox.ba-system-editing .sidebar-menu + .body .ba-item-preloader {
    margin-left: 0;
    width: 100% !important;
}

/* Store */

.ba-store-cart.ba-container:not(.ba-overlay-section) {
    width: 100%;
}

.ba-cart-products-list[class*="span"] {
    min-height: auto;
    margin-bottom: 50px;
    padding: 0;
}

.ba-store-cart-backdrop {
    align-items: flex-start;
}

.ba-cart-product-title-cell {
    flex-grow: 1;
}

.ba-wishlist-product-remove-cell i,
.ba-cart-product-remove-cell i {
    font-size: 24px;
}

.ba-cart-checkout-row.ba-cart-checkout-promo-code input {
    width: 100%;
}

.ba-cart-checkout-row.ba-cart-checkout-promo-code .ba-cart-apply-promo-code {
    padding: 15px 25px;
    white-space: nowrap;
}

.ba-left-thumbnails-navigation.dots-position-outside .ba-overlay {
    left: 0 !important;
}

.ba-left-thumbnails-navigation.dots-position-outside .slideshow-content {
    margin-left: 0 !important;
}

.ba-left-thumbnails-navigation:not(.dots-position-outside) .ba-slideshow-nav,
.ba-left-thumbnails-navigation.dots-position-outside .ba-slideshow-nav {
    left: 0 !important;
    width: 100% !important;
}

.ba-store-wishlist-backdrop > .ba-store-wishlist-close,
.ba-store-cart-backdrop > .ba-store-cart-close {
    width: 100%;
}

.ba-empty-cart-products-message {
    text-align: center;
}

.ba-live-search-results {
    left: 20px;
    max-width: calc(100% - 40px);
    min-width: calc(100% - 40px);
}

.ba-account-wrapper {
    flex-direction: column;
}

.ba-account-wrapper .tab-content,
.ba-account-wrapper > .nav-tabs {
    padding: 0;
    width: 100%;
}

.ba-account-wrapper .tab-content {
    padding: 0 25px;
}

.ba-account-wrapper > .nav-tabs li.active a:before {
    height: 4px;
    top: auto;
    width: 100%;
}

.ba-account-wrapper > .nav-tabs li > a {
    border: none !important;
}

.ba-account-wrapper > .nav-tabs {
    border-bottom: 1px solid var(--border)!important;
    box-sizing: border-box;
    padding: 0 25px !important;
}

.ba-checkout-authentication-backdrop,
.ba-checkout-registration-backdrop {
    align-items: normal;
}

.ba-tb-la-sticky-column-enabled {    
    display: block !important;
}

.ba-tb-la-sticky-column-enabled > .ba-grid-column {
    position: sticky;
}

.ba-tb-la-sticky-column-disabled {
    display: flex !important;
}

.ba-tb-la-sticky-column-disabled > .ba-grid-column {
    position: relative;
}

.ba-item-breadcrumbs ul {
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: auto;
}

.ba-item-breadcrumbs ul::-webkit-scrollbar {
    width: 6px;
}

.ba-item-breadcrumbs ul::-webkit-scrollbar-track {
    background-color: transparent;
}

.ba-item-breadcrumbs ul::-webkit-scrollbar-thumb {
    background: transparent;
}}
@media (max-width: 1024px) {
/*
/* Blog
*/

.ba-item-categories .ba-classic-layout .ba-blog-post,
.ba-item-blog-posts .ba-classic-layout .ba-blog-post,
.ba-item-search-result .ba-classic-layout .ba-blog-post,
.ba-item-post-navigation .ba-classic-layout .ba-blog-post,
.ba-item-related-posts .ba-classic-layout .ba-blog-post,
.ba-item-recent-posts .ba-classic-layout .ba-blog-post {
    flex-direction: column !important;
}

.ba-item-categories .ba-blog-post .ba-blog-post-image {
    margin: 0 auto;
}

.ba-item-categories .ba-classic-layout .ba-blog-post .ba-blog-post-content,
.ba-item-blog-posts .ba-classic-layout .ba-blog-post .ba-blog-post-content,
.ba-item-search-result .ba-classic-layout .ba-blog-post .ba-blog-post-content,
.ba-item-post-navigation .ba-classic-layout .ba-blog-post .ba-blog-post-content,
.ba-item-related-posts .ba-classic-layout .ba-blog-post .ba-blog-post-content,
.ba-item-recent-posts .ba-classic-layout .ba-blog-post .ba-blog-post-content {
    width: 100%;
}

.ba-item-categories .ba-classic-layout .ba-blog-post-content {
    padding-left: 0;
}

.header .ba-tb-pt-12,
.header [class*="span"].ba-tb-pt-12,
.body .ba-tb-pt-12,
.footer .ba-tb-pt-12,
.ba-tb-pt-12 {
    width: 100%;
}

.header .ba-tb-pt-11,
.header [class*="span"].ba-tb-pt-11,
.body .ba-tb-pt-11,
.footer .ba-tb-pt-11,
.ba-tb-pt-11 {
    width: 91.66666667%;
}

.header .ba-tb-pt-10,
.header [class*="span"].ba-tb-pt-10,
.body .ba-tb-pt-10,
.footer .ba-tb-pt-10,
.ba-tb-pt-10 {
    width: 83.33333333%;
}

.header .ba-tb-pt-9,
.header [class*="span"].ba-tb-pt-9,
.body .ba-tb-pt-9,
.footer .ba-tb-pt-9,
.ba-tb-pt-9 {
    width: 75%;
}

.header .ba-tb-pt-8,
.header [class*="span"].ba-tb-pt-8,
.body .ba-tb-pt-8,
.footer .ba-tb-pt-8,
.ba-tb-pt-8 {
    width: 66.66666667%;
}

.header .ba-tb-pt-7,
.header [class*="span"].ba-tb-pt-7,
.body .ba-tb-pt-7,
.footer .ba-tb-pt-7,
.ba-tb-pt-7 {
    width: 58.33333333%;
}

.header .ba-tb-pt-6,
.header [class*="span"].ba-tb-pt-6,
.body .ba-tb-pt-6,
.footer .ba-tb-pt-6,
.ba-tb-pt-6 {
    width: 50%;
}

.header .ba-tb-pt-5,
.header [class*="span"].ba-tb-pt-5,
.body .ba-tb-pt-5,
.footer .ba-tb-pt-5,
.ba-tb-pt-5 {
    width: 41.66666667%;
}

.header .ba-tb-pt-4,
.header [class*="span"].ba-tb-pt-4,
.body .ba-tb-pt-4,
.footer .ba-tb-pt-4,
.ba-tb-pt-4 {
    width: 33.33333333%;
}

.header .ba-tb-pt-3,
.header [class*="span"].ba-tb-pt-3,
.body .ba-tb-pt-3,
.footer .ba-tb-pt-3,
.ba-tb-pt-3 {
    width: 25%;
}

.header .ba-tb-pt-2,
.header [class*="span"].ba-tb-pt-2,
.body .ba-tb-pt-2,
.footer .ba-tb-pt-2,
.ba-tb-pt-2 {
    width: 16.66666667%;
}

.header .ba-tb-pt-1,
.header [class*="span"].ba-tb-pt-1,
.body .ba-tb-pt-1,
.footer .ba-tb-pt-1,
.ba-tb-pt-1 {
    width: 8.33333333%;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-pt-order-1 {
    order: 1;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-pt-order-2 {
    order: 2;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-pt-order-3 {
    order: 3;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-pt-order-4 {
    order: 4;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-pt-order-5 {
    order: 5;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-pt-order-6 {
    order: 6;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-pt-order-7 {
    order: 7;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-pt-order-8 {
    order: 8;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-pt-order-9 {
    order: 9;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-pt-order-10 {
    order: 10;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-pt-order-11 {
    order: 11;
}

.column-wrapper .ba-grid-column-wrapper.ba-tb-pt-order-12 {
    order: 12;
}

.ba-video-background video,
.ba-video-background iframe {
    left: 0;
    min-height: 100% !important;
    top: 0;
    transform: translateX(-50%)translateX(50vw);
    width: calc(200vh/.5624);
}

.ba-item-checkout-form.ba-item .ba-checkout-form-wrapper .ba-checkout-form-fields {
    width: 100%!important;
}

.ba-tb-pt-sticky-column-enabled {    
    display: block !important;
}

.ba-tb-pt-sticky-column-enabled > .ba-grid-column {
    position: sticky;
}


.ba-tb-pt-sticky-column-disabled {
    display: flex !important;
}

.ba-tb-pt-sticky-column-disabled > .ba-grid-column {
    position: relative;
}
}
@media (min-width: 769px) and (max-width: 1280px){
body:not(.show-hidden-elements) .ba-hidden-md {
    display: none !important;
} 

body:not(.show-hidden-elements) .ba-hidden-md:first-child + .ba-column-resizer + .ba-grid-column-wrapper {
    margin-left: 0 !important;
}}
@media (max-width: 768px) {
body:not(.show-hidden-elements) .ba-hidden-sm {
    display: none !important;
}

body:not(.show-hidden-elements) .ba-hidden-sm:first-child  + .ba-column-resizer + .ba-grid-column-wrapper {
    margin-left: 0 !important;
}

body {
    word-break: break-word;
}

.ba-item-post-navigation .ba-blog-post {
    margin: 0 !important;
    width: 100%;
}

.ba-item-post-navigation .ba-blog-posts-wrapper {
    display: block;
}

.ba-item-post-navigation .ba-blog-posts-wrapper > i {
    display: none;
}

body .ba-item-post-navigation .ba-blog-posts-wrapper .ba-blog-post-image {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.control-group .control-label {
    width: 100%!important;
}

.form-horizontal .controls {
    margin-left: 0 !important;
}

.remind .control-group .control-label,
.reset .control-group .control-label,
.login .control-group .control-label {
    text-align: center;
}

.header .ba-sm-la-12,
.header [class*="span"].ba-sm-la-12,
.ba-sm-la-12,
.body .ba-sm-la-12,
.footer .ba-sm-la-12 {
    width: 100%;
}

.header .ba-sm-la-11,
.header [class*="span"].ba-sm-la-11,
.ba-sm-la-11,
.body .ba-sm-la-11,
.footer .ba-sm-la-11 {
    width: 91.66666667%;
}

.header .ba-sm-la-10,
.header [class*="span"].ba-sm-la-10,
.ba-sm-la-10,
.body .ba-sm-la-10,
.footer .ba-sm-la-10 {
    width: 83.33333333%;
}

.header .ba-sm-la-9,
.header [class*="span"].ba-sm-la-9,
.ba-sm-la-9,
.body .ba-sm-la-9,
.footer .ba-sm-la-9 {
    width: 75%;
}

.header .ba-sm-la-8,
.header [class*="span"].ba-sm-la-8,
.ba-sm-la-8,
.body .ba-sm-la-8,
.footer .ba-sm-la-8 {
    width: 66.66666667%;
}

.header .ba-sm-la-7,
.header [class*="span"].ba-sm-la-7,
.ba-sm-la-7,
.body .ba-sm-la-7,
.footer .ba-sm-la-7 {
    width: 58.33333333%;
}

.header .ba-sm-la-6,
.header [class*="span"].ba-sm-la-6,
.ba-sm-la-6,
.body .ba-sm-la-6,
.footer .ba-sm-la-6 {
    width: 50%;
}

.header .ba-sm-la-5,
.header [class*="span"].ba-sm-la-5,
.ba-sm-la-5,
.body .ba-sm-la-5,
.footer .ba-sm-la-5 {
    width: 41.66666667%;
}

.header .ba-sm-la-4,
.header [class*="span"].ba-sm-la-4,
.ba-sm-la-4,
.body .ba-sm-la-4,
.footer .ba-sm-la-4 {
    width: 33.33333333%;
}

.header .ba-sm-la-3,
.header [class*="span"].ba-sm-la-3,
.ba-sm-la-3,
.body .ba-sm-la-3,
.footer .ba-sm-la-3 {
    width: 25%;
}

.header .ba-sm-la-2,
.header [class*="span"].ba-sm-la-2,
.ba-sm-la-2,
.body .ba-sm-la-2,
.footer .ba-sm-la-2 {
    width: 16.66666667%;
}

.header .ba-sm-la-1,
.header [class*="span"].ba-sm-la-1,
.ba-sm-la-1,
.body .ba-sm-la-1,
.footer .ba-sm-la-1 {
    width: 8.33333333%;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-la-order-1 {
    order: 1;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-la-order-2 {
    order: 2;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-la-order-3 {
    order: 3;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-la-order-4 {
    order: 4;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-la-order-5 {
    order: 5;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-la-order-6 {
    order: 6;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-la-order-7 {
    order: 7;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-la-order-8 {
    order: 8;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-la-order-9 {
    order: 9;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-la-order-10 {
    order: 10;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-la-order-11 {
    order: 11;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-la-order-12 {
    order: 12;
}

.ba-video-background video,
.ba-video-background iframe {
    height: calc(100vw * .5625);
    left: calc(0px - ((100vw - 100%)/2));
    position: absolute;
    top: calc(50% - ((100vw * .5625)/2));
    width: 100vw;
}

.ba-video-background video,
.ba-video-background iframe {
    left: 0;
    min-height: 100% !important;
    top: 0;
    transform: translateX(-50%)translateX(50vw);
    width: calc(200vh/.5624);
}

.ba-guest-login-wrapper,
.ba-user-login-wrapper,
.ba-social-login-wrapper {
    justify-content: center;
    width: 100%;
}

.user-comment-wrapper.user-comment-edit-enable .ba-submit-cancel,
.ba-submit-comment {
    margin-top: 15px;
}

.ba-user-login-btn,
.ba-submit-comment {
    box-sizing: border-box;
    text-align: center;
}

.ba-submit-comment,
.ba-comments-icons-wrapper {
    text-align: center;
    width: 100%;
}

.user-comment-wrapper {
    display: inline-block;
}

.comment-user-info {
    position: relative;
    min-height: 50px;
    width: calc(100% - 75px);
    margin-left: 75px;
}

.comment-user-info-wrapper {
    float: left;
}

.comment-reply-name {
    flex-grow: 0;
}

.comment-logout-action {
    float: right;
}

.comment-logout-action {
    line-height: 50px !important;
}

.ba-item-reviews .user-comment-wrapper .ba-review-stars-wrapper,
.comment-not-approved-label,
.comment-moderator-label,
.comment-reply-action,
.comment-attachments-wrapper,
.comment-attachments-image-wrapper {
    margin-left: 0;
}

.user-comment-wrapper span.comment-user-name {
    margin-right: 5px;
}

@keyframes smiles-picker-in-mobile {
    from { opacity: 0;}
    to { opacity: 1;}
}

.ba-comment-smiles-picker-dialog {
    animation: smiles-picker-in-mobile .3s cubic-bezier(0.4,0,0.2,1) both!important;
    left: 50% !important;
    max-width: 90%;
    position: fixed;
    top: calc(50vh - 90px) !important;
    transform: scale(1)translateX(-50%);
}

.ba-comment-smiles-picker-dialog:before {
    display: none;
}

.comment-likes-action-wrapper {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.comment-share-action,
.comment-reply-action {
    float: none;
}

.comment-likes-wrapper {
    text-align: center;
}

.comment-action-wrapper > span {
    margin: 25px 12px 0 !important;
}

.user-comment-wrapper span.comment-user-name,
.comment-attachments-wrapper,
.comment-user-message-wrapper,
.comment-likes-action-wrapper > span:first-child {
    margin-left: 0 !important;
}

.ba-comments-captcha-wrapper,
.ba-comments-captcha-wrapper.inline-style {
    width: 100%;
}

.ba-comments-captcha-wrapper > .comments-recaptcha {
    justify-content: center;
    margin-top: 25px;
}

.ba-comments-login-wrapper + .ba-review-rate-wrapper,
.ba-comments-login-wrapper {
    display: block;
}

.ba-reviews-total-rating-wrapper {
    width: 100%;
}

.ba-item-reviews .ba-comments-total-count {
    padding-left: 0;
}

.ba-item-reviews .ba-comments-total-count-wrapper {
    flex-wrap: wrap;
}

.comments-moderators-context-menu.ba-context-menu {
    animation: smiles-picker-in-mobile .3s cubic-bezier(0.4,0,0.2,1) both!important;
    left: 50% !important;
    margin: 0;
    max-height: initial;
    position: fixed;
    top: 50% !important;
    transform: translate(-50%, -50%);
}

.ba-comments-login-wrapper {
    overflow: hidden;
}

/* Store */

.ba-cart-checkout,
.ba-store-cart.ba-container:not(.ba-overlay-section) {
    padding: 25px;
}

.ba-wishlist-checkout-row.ba-wishlist-btn-wrapper,
.ba-store-cart-backdrop:not([data-layout="sidebar"]) .ba-store-cart.ba-container:not(.ba-overlay-section),
.ba-store-cart-opened .ba-store-cart-backdrop .ba-cart-checkout {
    padding: 0;
}

.ba-cart-checkout-row.ba-cart-checkout-includes-tax, 
.ba-wishlist-checkout-row:not(.ba-wishlist-btn-wrapper), 
.ba-cart-checkout-row.ba-cart-checkout-discount, 
.ba-cart-checkout-row.ba-cart-checkout-promo-code, 
.ba-cart-checkout-row.ba-cart-checkout-total,
.ba-wishlist-checkout-row,
.ba-wishlist-products-list,
.ba-cart-checkout-row.ba-cart-checkout-discount,
.ba-cart-checkout-row.ba-cart-checkout-promo-code,
.ba-cart-checkout-row.ba-cart-checkout-total,
.ba-store-cart-opened .ba-cart-products-list {
    padding: 0 25px;
}

.ba-checkout-order-product-row,
.ba-live-search-product-row,
.ba-wishlist-product-row,
.ba-cart-product-row {
    flex-wrap: wrap;
    justify-content: center;
}

.ba-checkout-order-product-row,
.ba-cart-product-row,
.ba-live-search-product-content-inner-cell,
.ba-wishlist-product-content-inner-cell,
.ba-cart-product-content-inner-cell,
.ba-checkout-order-product-content-inner-cell {
    flex-direction: column;
}

.ba-checkout-order-product-row,
.ba-cart-product-row {
    align-items: center !important;
}

.ba-wishlist-product-title-cell,
.ba-cart-product-title-cell {
    width: calc(100% - 125px);
}

.ba-wishlist-product-price-cell,
.ba-cart-product-price-cell {
    margin-left: 0;
}

.ba-wishlist-product-price-cell {
    align-items: flex-start;
}

.ba-wishlist-product-remove-cell i {
    padding: 10px;
}

.ba-cart-product-quantity-cell {
    margin-left: 0;
}

.ba-wishlist-add-to-cart-cell,
.ba-wishlist-product-remove-cell,
.ba-wishlist-product-price-cell,
.ba-cart-product-remove-cell,
.ba-cart-product-price-cell,
.ba-cart-product-quantity-cell {
    margin-top: 25px;
}

#ba-notification.ba-product-notice {
    max-width: 80%;
}

.ba-checkout-order-product-price-cell,
.ba-checkout-order-product-title-cell,
.ba-checkout-order-product-image-cell,
.ba-live-search-add-to-cart-cell,
.ba-live-search-product-price-cell,
.ba-live-search-product-title-cell,
.ba-live-search-results .ba-live-search-product-image-cell,
.ba-cart-product-price-cell,
.ba-cart-product-quantity-cell,
.ba-wishlist-add-to-cart-btn,
.ba-cart-product-title-cell,
.ba-wishlist-product-title-cell,
.ba-cart-product-image-cell,
.ba-wishlist-product-image-cell,
.ba-wishlist-add-to-cart-cell,
.ba-cart-product-remove-cell {
    align-items: center;
    margin: 25px 0 0 0;
    text-align: center;
    width: 100%;
}

.ba-live-search-add-to-cart-cell,
.ba-checkout-order-product-price-cell,
.ba-checkout-order-product-title-cell,
.ba-live-search-product-title,
.ba-checkout-order-product-title,
.ba-wishlist-product-title,
.ba-cart-product-title {
    justify-content: center;
}

.ba-live-search-product-content-cell,
.ba-wishlist-product-content-cell,
.ba-checkout-order-product-price-cell,
.ba-wishlist-product-price-cell {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
    width: 100%;
}

.ba-wishlist-product-remove-cell {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px 0 0;
    width: 100%;
}

.ba-live-search-product-title-cell {
    padding: 0;
}

.ba-live-search-add-to-cart-btn,
.ba-wishlist-add-to-cart-btn,
.ba-wishlist-product-image-cell,
.ba-cart-product-image-cell {
    margin: 0 !important;
}

.ba-wishlist-checkout-row:not(.ba-wishlist-btn-wrapper),
.ba-store-cart .ba-cart-checkout-row.ba-cart-checkout-promo-code,
.ba-cart-product-title {
    justify-content: center;
}

.ba-store-cart-backdrop[data-layout="sidebar"] .ba-store-cart .ba-cart-checkout-row.ba-cart-checkout-promo-code {
    align-items: center;
}

.ba-cart-product-quantity-cell {
    box-sizing: border-box;
    margin-left: 0;
    margin: 25px auto 0;
    width: auto;
}

.ba-cart-checkout-row.ba-cart-checkout-promo-code {
    flex-direction: column;
    padding-bottom: 25px;
}

.ba-cart-checkout-promo-code-wrapper {
    flex-wrap: wrap;
}

.ba-cart-checkout-row.ba-cart-checkout-promo-code .ba-cart-apply-promo-code {
    margin-bottom: 10px;
}

.ba-item-add-to-cart .ba-add-to-cart-stock,
.ba-add-to-cart-price,
.ba-add-to-cart-button-wrapper,
.ba-item-add-to-cart .ba-add-to-cart-variation {
    flex-direction: column;
}

.ba-item-add-to-cart .ba-add-to-cart-stock > div,
.ba-item-add-to-cart .ba-add-to-cart-variation > div {
    justify-content: center;
    width: 100%;
}

.ba-variation-notice {
    bottom: 100%;
    right: 50%;
    transform: translate(50%, -10px);
}

.ba-variation-notice:before {
    border: 5px solid transparent !important;
    border-top: 5px solid #2c2c2c !important;
    bottom: -9px !important;
    right: auto !important;
    left: 50% !important;
    margin-left: -5px;
}

.ba-item-add-to-cart .ba-add-to-cart-row-label {
    margin: 0;
}

.ba-add-to-cart-quantity {
    margin: 0 0 20px 0;
}

.ba-add-to-cart-button-wrapper {
    align-items: center;
}

#ba-my-account-wishlist .ba-wishlist-product-remove-cell,
.right-currency-position,
.ba-add-to-cart-quantity + .ba-btn-transition {
    justify-content: center;
}

.ba-add-to-cart-sale-price-wrapper + .ba-add-to-cart-price-wrapper {
    margin-left: 0px;
}

.ba-blog-post-add-to-cart-wrapper {
    flex-wrap: wrap;
    justify-content: center;
}

.ba-blog-post-add-to-cart-button {
    justify-content: center;
    margin-top: 10px;
}

.ba-checkout-registration-wrapper,
.ba-checkout-authentication-wrapper > div {
    padding: 25px!important
}

.ba-checkout-guest-wrapper .ba-checkout-authentication-btn-wrapper span {
    margin-bottom: 0;
    margin-top: 40px;
}

.ba-checkout-authentication-links {
    flex-wrap: wrap;
}

.ba-checkout-authentication-links a {
    margin: 5px 0;
}

.ba-checkout-authentication-backdrop {
    align-items: flex-start;
}

.ba-account-order-header-wrapper >.ba-account-order-header,
.ba-account-order-details .ba-account-order-customer-info {
    min-width: 100%!important;
    padding: 25px;
    width: 100%!important;
}

.ba-account-close-order-details {
    right: 10px;
    top: 10px;
}

.ba-account-order-header-wrapper {
    flex-wrap: wrap;
}

.ba-account-order-info .ba-account-order-header {
    justify-content: space-between;
}

.ba-account-order-details > div {
    padding: 25px;   
}

.ba-account-order-product-title-cell, 
.ba-account-order-product-content-inner-cell, 
.ba-account-order-info .ba-account-order-product-row {
    align-items: center;
    flex-direction: column;
}

.ba-account-order-info .ba-account-order-product-image-cell {
    margin-right: 0;
    margin-bottom: 25px;
}

.ba-account-order-product-price-cell {
    margin-left: 0;
}

.ba-account-order-product-title-cell .ba-account-order-product-title {
    text-align: center;
}

.ba-account-order-customer-info .ba-account-order-header {
    justify-content: flex-start;
}

.ba-my-account-wishlist .ba-wishlist-product-row {
    margin-bottom: 50px;
}

#ba-my-account-downloads .ba-account-tr,
#ba-my-account-orders .ba-account-tr {
    flex-direction: column;
    align-items: center;
    padding: 20px !important;
}

#ba-my-account-downloads .ba-account-tr > div,
#ba-my-account-orders .ba-account-tr > div {
    justify-content: center !important;
    margin-bottom: 10px;
    min-height: auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

#ba-my-account-downloads .ba-account-thead {
    display: none;
}

#ba-my-account-profile .ba-account-profile-fields, 
.ba-my-account-billing-details .ba-checkout-form-fields {
    padding: 0px!important;
    width: 100%;
}

.ba-account-order-header-wrapper .ba-account-order-header:last-child {
    background: var(--bg-secondary);
    padding-top: 0;
}

.ba-store-cart-backdrop.ba-visible-store-cart {
    padding-bottom: calc(var(--vh, 1vh) * 10) !important;
}

.ba-account-title-wrapper {
    justify-content: center;
    flex-wrap: wrap;
}

.ba-account-title-wrapper .ba-account-btn,
#ba-my-account-downloads .ba-account-btn {
    width: 100%;
}

.ba-account-title-wrapper .ba-account-btn {
    margin-top: 25px;
    text-align: center;
}

.ba-sm-la-sticky-column-enabled {    
    display: block !important;
}

.ba-sm-la-sticky-column-enabled > .ba-grid-column {
    position: sticky;
}

.ba-sm-la-sticky-column-disabled {
    display: flex !important;
}

.ba-sm-la-sticky-column-disabled > .ba-grid-column {
    position: relative;
}
}
@media (max-width: 420px) {
.header .ba-sm-pt-12,
.header [class*="span"].ba-sm-pt-12,
.body .ba-sm-pt-12,
.footer .ba-sm-pt-12,
.ba-sm-pt-12 {
    width: 100%;
}

.header .ba-sm-pt-11,
.header [class*="span"].ba-sm-pt-11,
.body .ba-sm-pt-11,
.footer .ba-sm-pt-11,
.ba-sm-pt-11 {
    width: 91.66666667%;
}

.header .ba-sm-pt-10,
.header [class*="span"].ba-sm-pt-10,
.body .ba-sm-pt-10,
.footer .ba-sm-pt-10,
.ba-sm-pt-10 {
    width: 83.33333333%;
}

.header .ba-sm-pt-9,
.header [class*="span"].ba-sm-pt-9,
.body .ba-sm-pt-9,
.footer .ba-sm-pt-9,
.ba-sm-pt-9 {
    width: 75%;
}

.header .ba-sm-pt-8,
.header [class*="span"].ba-sm-pt-8,
.body .ba-sm-pt-8,
.footer .ba-sm-pt-8,
.ba-sm-pt-8 {
    width: 66.66666667%;
}

.header .ba-sm-pt-7,
.header [class*="span"].ba-sm-pt-7,
.body .ba-sm-pt-7,
.footer .ba-sm-pt-7,
.ba-sm-pt-7 {
    width: 58.33333333%;
}

.header .ba-sm-pt-6,
.header [class*="span"].ba-sm-pt-6,
.body .ba-sm-pt-6,
.footer .ba-sm-pt-6,
.ba-sm-pt-6 {
    width: 50%;
}

.header .ba-sm-pt-5,
.header [class*="span"].ba-sm-pt-5,
.body .ba-sm-pt-5,
.footer .ba-sm-pt-5,
.ba-sm-pt-5 {
    width: 41.66666667%;
}

.header .ba-sm-pt-4,
.header [class*="span"].ba-sm-pt-4,
.body .ba-sm-pt-4,
.footer .ba-sm-pt-4,
.ba-sm-pt-4 {
    width: 33.33333333%;
}

.header .ba-sm-pt-3,
.header [class*="span"].ba-sm-pt-3,
.body .ba-sm-pt-3,
.footer .ba-sm-pt-3,
.ba-sm-pt-3 {
    width: 25%;
}

.header .ba-sm-pt-2,
.header [class*="span"].ba-sm-pt-2,
.body .ba-sm-pt-2,
.footer .ba-sm-pt-2,
.ba-sm-pt-2 {
    width: 16.66666667%;
}

.header .ba-sm-pt-1,
.header [class*="span"].ba-sm-pt-1,
.body .ba-sm-pt-1,
.footer .ba-sm-pt-1,
.ba-sm-pt-1 {
    width: 8.33333333%;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-pt-order-1 {
    order: 1;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-pt-order-2 {
    order: 2;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-pt-order-3 {
    order: 3;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-pt-order-4 {
    order: 4;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-pt-order-5 {
    order: 5;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-pt-order-6 {
    order: 6;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-pt-order-7 {
    order: 7;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-pt-order-8 {
    order: 8;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-pt-order-9 {
    order: 9;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-pt-order-10 {
    order: 10;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-pt-order-11 {
    order: 11;
}

.column-wrapper .ba-grid-column-wrapper.ba-sm-pt-order-12 {
    order: 12;
}

.ba-video-background video,
.ba-video-background iframe {
    left: 0;
    min-height: 100% !important;
    top: 0;
    transform: translateX(-50%)translateX(50vw);
    width: calc(200vh/.5624);
}

.ba-blog-posts-pagination-wrapper .ba-blog-posts-pagination span {
    display: none;
}

.ba-blog-posts-pagination-wrapper .ba-blog-posts-pagination span.active,
.ba-blog-posts-pagination-wrapper .ba-blog-posts-pagination span:nth-last-child(2),
.ba-blog-posts-pagination-wrapper .ba-blog-posts-pagination span:last-child,
.ba-blog-posts-pagination-wrapper .ba-blog-posts-pagination span:first-child,
.ba-blog-posts-pagination-wrapper .ba-blog-posts-pagination span:nth-child(2){
    display: inline;
}

.comment-user-name,
.comment-user-date {
    justify-content: center;
    text-align: center;
    width: 100%;
}

.comment-user-info {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 60px;
    position: relative;
}

.user-comment-wrapper span.comment-user-name {
    margin-right: 0;
}

.comment-moderator-user-settings {
    position: absolute;
    right: 0;
    top: -62px;
}

.comment-user-info-wrapper {
    float: none;
    justify-content: center;
}

.comment-user-info {
    margin-left: 0px;
    width: 100%;
}

.comment-report-user-comment,
.comment-reply-name,
.user-comment-container-wrapper .ba-review-stars-wrapper,
.comment-moderator-label,
.ba-comments-total-count + select,
.ba-comments-total-count,
.ba-review-rate-wrapper,
.comment-logout-action,
.comment-user-date,
.comment-user-name {
    margin-top: 15px;
}

.comment-user-name,
.comment-report-user-comment,
.user-comment-wrapper span.comment-user-name {
    margin-left: 0 !important;
}

.ba-comments-login-wrapper + .ba-review-rate-wrapper,
.comment-likes-wrapper {
    text-align: center;
}

.comment-logout-action {
    float: none;
    line-height: inherit !important;
}

.ba-comments-login-wrapper {
    flex-direction: column;
    margin-bottom: 0;
    text-align: center;
}

.ba-item-comments-box .ba-comments-login-wrapper {
    margin-bottom: 25px;
}

span.comment-user-name {
    flex-grow: 0;
}

.ba-item-reviews .ba-comments-total-count-wrapper,
.user-comment-wrapper.user-comment-edit-enable .ba-submit-comment-wrapper {
    float: none;
    flex-direction: column;
}

.user-comment-wrapper.user-comment-edit-enable .ba-submit-cancel {
    margin-right: 0;
}

.ba-item-reviews .ba-comments-total-count {
    padding-left: 0;
}

.ba-reviews-total-rating-wrapper {
    flex-direction: column;
    text-align: center;
    white-space: normal;
}

.ba-reviews-total-rating-wrapper .ba-review-stars-wrapper {
    margin-left: 0;
}

.comment-likes-wrapper > span.comment-likes-action-wrapper {
    white-space: normal;
}

.was-review-helpful.comment-user-date {
    margin-bottom: 15px;
    margin-top: 0 !important;
}

.comment-likes-action[data-action="likes"] {
    margin-left: 0;
}

.event-calendar-events-list {
    left: 5% !important;
    width: 90%;
}

.ba-store-cart.ba-container > .row-fluid {
    max-height: calc(var(--vh, 1vh) * 80) !important; 
}

.ba-wishlist-checkout,
.ba-cart-checkout {
    display: block !important;
}

.ba-sm-pt-sticky-column-enabled {    
    display: block !important;
}

.ba-sm-pt-sticky-column-enabled > .ba-grid-column {
    position: sticky;
}

.ba-sm-pt-sticky-column-disabled {
    display: flex !important;
}

.ba-sm-pt-sticky-column-disabled > .ba-grid-column {
    position: relative;
}
}