/**
 * @version     1.5.4
 * @package     Sellacious E-Wallet Module
 *
 * @copyright   Copyright (C) 2012-2018 Bhartiy Web Technologies. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 * @author      Mohd Kareemuddin <info@bhartiy.com> - http://www.bhartiy.com
 */

.mod-sellacious-wallet .mod-ewallet-container .ewallet-balance {
	max-width: 300px;
	background: #e6e6e6;
	padding: 8px 10px;
	display: inline-block;
	margin: 0 0 10px;
}
