/*!
 *  @package   AkeebaSocialLogin
 *  @copyright Copyright (c)2016-2021 Nicholas K. Dionysopoulos / Akeeba Ltd
 *  @license   GNU General Public License version 3, or later
 */

.akeeba-sociallogin-link-button-facebook, .akeeba-sociallogin-unlink-button-facebook, .akeeba-sociallogin-button-facebook {
    background-color: #4267B2 !important;
    color: #ffffff !important;
    text-shadow: none !important;
    background-image: none !important;
    border: none !important;
    padding: 13px 8px !important;
    width: 100%;
    height: 50px;
    margin-top: 5%;
}

.akeeba-sociallogin-link-button-facebook img, .akeeba-sociallogin-unlink-button-facebook img, .akeeba-sociallogin-button-facebook img {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    margin: 0 10px 0.1em 0 !important;
    padding: 0 !important;
}

