
/****************************/
/* BOF themes, TODO MORE !! */
/****************************/

/* Suffix -green : green borders and links */
.carousel.mod_flexicontent_wrap-green .mod_flexicontent_featured_wrapper_innerbox,
.carousel.mod_flexicontent_wrap-green .mod_flexicontent_standard_wrapper_innerbox {
	border-color: darkgreen!important;
}
.carousel.mod_flexicontent_wrap-green a {
	color: darkgreen!important;
}

/* Suffix -red : red borders and links */
.carousel.mod_flexicontent_wrap-red .mod_flexicontent_featured_wrapper_innerbox,
.carousel.mod_flexicontent_wrap-red .mod_flexicontent_standard_wrapper_innerbox {
	border-color: darkred!important;
}
.carousel.mod_flexicontent_wrap-red a {
	color: darkred!important;
}

/* Suffix -orange : orange borders and links */
.carousel.mod_flexicontent_wrap-orange .mod_flexicontent_featured_wrapper_innerbox,
.carousel.mod_flexicontent_wrap-orange .mod_flexicontent_standard_wrapper_innerbox {
	border-color: darkorange!important;
}
.carousel.mod_flexicontent_wrap-orange a {
	color: darkorange!important;
}

/**************/
/* EOF themes */
/**************/




/* CONTAINER OF EACH ORDERING GROUP */
.carousel.mod_flexicontent_wrapper .mod_flexicontent {
	width: 100%;
	margin: 0% !important;
	padding: 0% !important;
	border-width: 0%;
	float: left;
	clear: both;
}


/* EXTERNAL ITEM CONTAINER inner container for border, padding etc */
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper_innerbox,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper_innerbox {
	position: relative;
	display: block;
	float: none;
	width: auto;
	height: auto;
	overflow: hidden;
	
	/* can be overriden via user 's CSS */
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: solid;
	border-color: #dfdfdf #9f9f9f #9f9f9f #dfdfdf;
	border-radius: 0px;
	background-color: unset;
}


/* EXTERNAL ITEM CONTAINER (ONE COLUMNS) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper {
	/* DO NOT OVERRIDE THESE !!! this is the placement container, override margin,padding,border of inner container only */
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border-width: 0;
	border-style: solid;
	width: 100%;
	/*height: 100%;*/ /* problematic with masonry */
}

/* EXTERNAL ITEM CONTAINER (2-COLUMNS) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_2,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_2 {
	width: 50% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding: 0% !important;
	border-width: 0px !important;
}

/* EXTERNAL ITEM CONTAINER (3-COLUMNS) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_3,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_3 {
	width: 33.33% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding: 0% !important;
	border-width: 0px !important;
}

/* EXTERNAL ITEM CONTAINER (4-COLUMNS) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_4,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_4 {
	width: 25% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding: 0% !important;
	border-width: 0px !important;
}

/* EXTERNAL ITEM CONTAINER (5-COLUMNS) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_5,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_5 {
	width: 20% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding: 0% !important;
	border-width: 0px !important;
}

/* EXTERNAL ITEM CONTAINER (6-COLUMNS) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_6,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_6 {
	width: 16.66% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding: 0% !important;
	border-width: 0px !important;
}

/* EXTERNAL ITEM CONTAINER (7-COLUMNS) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_7,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_7 {
	width: 14.28% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding: 0% !important;
	border-width: 0px !important;
}

/* EXTERNAL ITEM CONTAINER (8-COLUMNS) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_8,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_8 {
	width: 12.5% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding: 0% !important;
	border-width: 0px !important;
}

@media only screen and (min-width: 1280px) and (max-width: 1399px) {
	/* medium-sized desktops */
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_6,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_7,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_8,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_6,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_7,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_8 {
		width: 20% !important;
	}
	.carousel.mod_flexicontent_wrapper .fcitem_title_box .fcitem_title,
	.carousel.mod_flexicontent_wrapper .fcitem_title_box .fcitem_title a {
		font-size: 115%;
	}
}

@media only screen and (min-width: 1152px) and (max-width: 1279px) {
	/* small-sized desktops */
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_5,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_6,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_7,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_8,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_5,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_6,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_7,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_8 {
		width: 25% !important;
	}
	.carousel.mod_flexicontent_wrapper .fcitem_title_box .fcitem_title,
	.carousel.mod_flexicontent_wrapper .fcitem_title_box .fcitem_title a {
		font-size: 110%;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1151px) {
	/* large-sized tablets, very small-sized desktops */
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_4,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_5,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_6,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_7,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_8,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_4,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_5,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_6,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_7,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_8 {
		width: 33.33% !important;
	}
	.carousel.mod_flexicontent_wrapper .fcitem_title_box .fcitem_title,
	.carousel.mod_flexicontent_wrapper .fcitem_title_box .fcitem_title a {
		font-size: 105%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	/* medium-sized tablets */
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_3,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_4,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_5,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_6,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_7,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_8,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_3,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_4,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_5,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_6,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_7,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_8 {
		width: 50% !important;
	}
	.carousel.mod_flexicontent_wrapper .fcitem_title_box .fcitem_title,
	.carousel.mod_flexicontent_wrapper .fcitem_title_box .fcitem_title a {
		font-size: 100%;
	}
}

@media only screen and (max-width: 767px) {
	/* phones and small-sized tablets */
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_2,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_3,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_4,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_5,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_6,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_7,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.cols_8,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_2,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_3,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_4,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_5,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_6,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_7,
	.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.cols_8 {
		width: 100% !important;
	}
	.carousel.mod_flexicontent_wrapper .fcitem_title_box .fcitem_title,
	.carousel.mod_flexicontent_wrapper .fcitem_title_box .fcitem_title a {
		font-size: 95%;
	}
}

/* EXTERNAL CONTAINER STYLING ODD EVEN (COUNTING) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.odd,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.odd {
}
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.even,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.even {
}

/* INTERNAL ITEM-LIST CONTAINER (ONE COLUMN MODE) */
.carousel.mod_flexicontent_wrapper .mod_flexicontent_featured,
.carousel.mod_flexicontent_wrapper .mod_flexicontent_standard {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0%;
	margin-right: 0%;
	
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0%;
	padding-right: 0%;
	
	float: left;
	width: 100%;
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
}



/*
 * ITEM BASIC FIELDS STYLES (FOR CUSTOM FIELDS see below, FOR IMAGE AND DATE see more below)
 */

.carousel.mod_flexicontent_wrapper .content_standard {padding: 12px 12px 0 12px;}  /* container of basic elements of standard items excluding title & image */
.carousel.mod_flexicontent_wrapper .content_featured {padding: 12px 12px 0 12px;}  /* container of basic elements of featured items excluding title & image */


/* CONTAINER of item title */
.carousel.mod_flexicontent_wrapper .fcitem_title_box {
	display: block;
	background: transparent;
	margin: 0;
	padding: 6px;
}

.carousel.mod_flexicontent_wrapper .fcitem_title,
.carousel.mod_flexicontent_wrapper .fcitem_title a {
	color: #08c;
	font-size: 120%;
	background-color: transparent;
	line-height: 1.2em;
	width: 100%;
	display: inline-block;
}

.carousel.mod_flexicontent_wrapper .fcitem_title {
	text-shadow: 1px 1px 1px #000000;
	height: 2.4em;
	display: table-cell;
	vertical-align: middle;
	padding: 1px 4px;
	margin: 2px 0px;
	/*border: 1px dashed #bbbbbb;*/
}
.carousel.mod_flexicontent_wrapper .fcitem_title:hover {
	/*border: 1px dashed black;*/
}

/* item title styling (link, etc) */
.carousel.mod_flexicontent_wrapper .fcitem_title a {
	text-decoration: none;
	-webkit-transition: all 0.4s; transition: all 0.4s;
}
.carousel.mod_flexicontent_wrapper .fcitem_title:hover a,
.carousel.mod_flexicontent_wrapper .fcitem_title a:hover {
	cursor: pointer;
	text-shadow: 1px 1px 3px #000000;
}
.carousel.mod_flexicontent_wrapper .fc_overlayed .fcitem_title a {
	/*text-shadow: 1px 1px 2px #000000, -1px -1px #000, 1px 1px #000000;*/
	text-shadow: 1px 1px 1px #000000;
}


/* CONTAINER of item date */
.carousel.mod_flexicontent_wrapper .fcitem_date { /* for label and value (contained inside) see more below */
	background: url("images/date.png") no-repeat scroll 0px 1px;
	padding:2px 6px 2px 20px;
}

/* item date styling (label, value, etc) */
.carousel.mod_flexicontent_wrapper .date_label,
.carousel.mod_flexicontent_wrapper .date_label_feat {
	display:inline;
	font-weight: bold;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.carousel.mod_flexicontent_wrapper .date_value,
.carousel.mod_flexicontent_wrapper .date_value_feat {
	display:inline-block;
	font-weight: normal;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}


/* CONTAINER of item description */
.carousel.mod_flexicontent_wrapper .fcitem_text { /* for image (not contained inside) see more below */
	/*text-align:justify;*/
	margin: 0px;
	padding: 0 12px;
	line-height: 160%;
}


/* CONTAINER of item image (featured and standard) */
.carousel.mod_flexicontent_wrapper .image_featured,
.carousel.mod_flexicontent_wrapper .image_standard {
	float: left;
	margin: 0;
}

/* item image styling (link, image, etc) */
.carousel.mod_flexicontent_wrapper .image_featured a:hover,
.carousel.mod_flexicontent_wrapper .image_standard a:hover {
  text-decoration: none;
}
.carousel.mod_flexicontent_wrapper .image_featured img,
.carousel.mod_flexicontent_wrapper .image_standard img {
  padding: 0px; /* disabled item border thus padding too */
	border-width: 0px; /* disabled item border */
	border-style: solid;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-radius: 0px;
}
.carousel.mod_flexicontent_wrapper .image_standard a:hover img,
.carousel.mod_flexicontent_wrapper .image_featured a:hover img {
  border:1px solid #444444;
}


/* CONTAINER of item hits, voting, comments */
.carousel.mod_flexicontent_wrapper .fcitem_hits { padding: 2px 0px 1px 0px; display: inline-block; }
.carousel.mod_flexicontent_wrapper .fcitem_voting { padding: 0px 0px 2px 0px; display: inline-block; }
.carousel.mod_flexicontent_wrapper .fcitem_comments{ padding: 2px 0px 1px 0px; display: inline-block; }

.carousel.mod_flexicontent_wrapper .fcitem_hits img,
.carousel.mod_flexicontent_wrapper .fcitem_comments img {
	vertical-align: middle;
}

.carousel.mod_flexicontent_wrapper .hits_label,
.carousel.mod_flexicontent_wrapper .voting_label, 
.carousel.mod_flexicontent_wrapper .comments_label {
	display:inline;
	color: black;
	font-weight: bold;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	vertical-align:top;
}

/* force voting to display in same row as label */
.carousel.mod_flexicontent_wrapper .voting_value_feat,
.carousel.mod_flexicontent_wrapper .voting_value,
.carousel.mod_flexicontent_wrapper .voting_value_feat .voting,
.carousel.mod_flexicontent_wrapper .voting_value .voting {
	display: block;
}
.carousel.mod_flexicontent_wrapper div.fcvote > ul.fcvote_list {
	clear: none !important;
}
.carousel.mod_flexicontent_wrapper div.fcvote-label-outer {
	clear: none !important;
	display: inline-block !important;
	float: none !important;
}


/* CONTAINER of other item fields */
.carousel.mod_flexicontent_wrapper .fcitem_fields {
	display: inline-block !important;
	line-height: 140%;
}

/* other item fields styling (label, value, etc) */
.carousel.mod_flexicontent_wrapper .field_label {
	font-weight: bold;
	display:block;
	float:left;
	clear:left;
	margin-right:8px;
	border-bottom: 1px dashed silver;
	text-align: left;
}
.carousel.mod_flexicontent_wrapper .field_value {
	font-weight: normal;
	display:block;
	float:left;
	text-align: left;
}


/* CONTAINER of item read more */
.carousel.mod_flexicontent_wrapper .fcitem_readon {
	float:left;
	background: url("images/readmore.png") transparent no-repeat scroll 0px 5px;
	border:solid transparent;
	border-width:1px 0px;
	padding: 1px 6px 1px 20px;
	margin: 3px 3px 3px 4px;
	display: inline-block;
	-webkit-transition: all 0.4s; transition: all 0.4s;

	background-color: transparent;
	color: #08c;
	font-size: inherit;
}
.carousel.mod_flexicontent_wrapper .fcitem_readon:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-color: gray;
	border-width: 1px 0px;
	border-radius: 0px;
}

/* item read more styling (link, etc) */
.carousel.mod_flexicontent_wrapper .fcitem_readon a.readon,
.carousel.mod_flexicontent_wrapper .fcitem_readon a.readon span {
	font-weight: bold;
	line-height: 160%;
	padding: 0px;
	background: transparent;
	text-decoration: none !important;
	cursor: pointer;
	-webkit-transition: all 0.4s; transition: all 0.4s;
	vertical-align: top;
	color: inherit;
	font-size: inherit;
}
.carousel.mod_flexicontent_wrapper .fcitem_readon:hover a.readon,
.carousel.mod_flexicontent_wrapper .fcitem_readon:hover a.readon span {
	padding: 0px;
	background: none;
	text-decoration: none !important;
	color: gray;
}



/*****************************/
/* Content PLACEMENT methods */
/*****************************/
.carousel.mod_flexicontent_wrapper .fc_block {
	line-height: 160%;
}
.carousel.mod_flexicontent_wrapper .fc_overlayed {
	/* Fallback for web browsers that don't support RGBa */
	background-color: rgb(0, 0, 0);
	/* RGBa with 0.4 opacity */
	background-color: rgba(0, 0, 0, 0.4);
	/* For IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
	/* For IE 8+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000)";
	width: 96%;
	height: auto;
	padding: 2%;
	margin: 0%;
	position: absolute;
	left: 0px;
}
.carousel.mod_flexicontent_wrapper .fc_overlayed .fc_block {
	/*font-family: Raleway;
	font-weight:900;*/
	line-height: 160%;
	color: white;
	/*text-shadow: 1px 1px 2px #000, -1px -1px #000, 1px 1px #000;*/
	text-shadow: 1px 1px 1px #000;
}

.carousel.mod_flexicontent_wrapper .fc_bottom {	bottom: 0px; }
.carousel.mod_flexicontent_wrapper .fc_top { top: 0px; }
.carousel.mod_flexicontent_wrapper .fc_full { top: 0px; height: 96%; }

.carousel.mod_flexicontent_wrapper .fc_stretch {
	width:100% !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	float: none !important;
	display: block;
}
.carousel.mod_flexicontent_wrapper .fc_float_left {
	float: left !important;
	margin: 0px 12px 8px 0;
	display: block;
}
.carousel.mod_flexicontent_wrapper .fc_float_right {
	float: right !important;
	margin: 0px 0 8px 12px;
	display: block;
}
.carousel.mod_flexicontent_wrapper .fc_floated {}

.carousel.mod_flexicontent_wrapper .image_featured.fc_float_left img,
.carousel.mod_flexicontent_wrapper .image_featured.fc_float_right img,
.carousel.mod_flexicontent_wrapper .image_standard.fc_float_left img,
.carousel.mod_flexicontent_wrapper .image_standard.fc_float_right img { }
.carousel.mod_flexicontent_wrapper .image_featured.fc_float_left img,
.carousel.mod_flexicontent_wrapper .image_featured.fc_float_right img,
.carousel.mod_flexicontent_wrapper .image_standard.fc_float_left img,
.carousel.mod_flexicontent_wrapper .image_standard.fc_float_right img { }

.carousel.mod_flexicontent_wrapper .fc_clear { clear: both !important; }

.carousel.mod_flexicontent_wrapper .mod_flexicontent_featured_wrapper .fc_auto_show,
.carousel.mod_flexicontent_wrapper .mod_flexicontent_standard_wrapper .fc_auto_show {
	-webkit-transition: max-height 0.3s linear, opacity 0.3s linear, padding 0.3s linear, background-color 0.3s linear;
	transition: max-height 0.3s linear, opacity 0.3s linear, padding 0.3s linear, background-color 0.3s linear;
	
	opacity: 0.0;
	filter:alpha(opacity=0);
	
	max-height: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	overflow-y: hidden;
}


/* AUTO-SHOW CONTENTS of items (having class: .fc_auto_show), when:
 *
 * - ACTIVATED (selected)
 * - HOVERED
 */

.carousel.mod_flexicontent_wrapper .mod_flexicontent_featured_wrapper.mod_fc_activeitem .fc_auto_show.fc_show_active,
.carousel.mod_flexicontent_wrapper .mod_flexicontent_standard_wrapper.mod_fc_activeitem .fc_auto_show.fc_show_active,
.carousel.mod_flexicontent_wrapper .mod_flexicontent_featured_wrapper:hover .fc_auto_show,
.carousel.mod_flexicontent_wrapper .mod_flexicontent_standard_wrapper:hover .fc_auto_show {
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: rgba(0, 0, 0, 0.75);
	max-height: 100%; /* can be approximate, percentage works well if parent height is specific */
}


/*
 * HIGHLIGHT HOVERED item container (if highlight-on-hover enabled in configuration)
 *
 * - CLASS .mod_hl_hover => Enables hi-lighting on hovered item (it is added via configuration parameter)
 * - CLASSES .mod_hl_hover.mod_fc_activeitem => Override CSS for 'active' (selected) when hovered
 */

.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.mod_hl_hover.mod_fc_activeitem:hover .mod_flexicontent_featured_wrapper_innerbox,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.mod_hl_hover:hover .mod_flexicontent_featured_wrapper_innerbox,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.mod_hl_hover.mod_fc_activeitem:hover .mod_flexicontent_standard_wrapper_innerbox,
.carousel.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.mod_hl_hover:hover .mod_flexicontent_standard_wrapper_innerbox {
	background-color: #D0D0D0;
	border-color: #888 #555 #555 #888;
	box-shadow: -2px 2px 5px -2px black, 2px -2px 5px -2px black;
	z-index: 12; /* needed in cases the standard-itens outer box has z-index 10 */
}


/*********************/
/* CAROUSEL SPECIFIC */
/*********************/

/*
 * HIGHLIGHT ACTIVATED item container (if enabled in configuration)
 */

.carousel.mod_flexicontent_wrapper .mod_flexicontent_featured_wrapper.mod_hl_active.mod_fc_activeitem .mod_flexicontent_featured_wrapper_innerbox,
.carousel.mod_flexicontent_wrapper .mod_flexicontent_standard_wrapper.mod_hl_active.mod_fc_activeitem .mod_flexicontent_standard_wrapper_innerbox {
	background-color: #E0E0E0;
	border-color: #afafaf #8f8f8f #8f8f8f #afafaf;
	box-shadow: -1px 1px 2px -1px black, 1px -1px 2px -1px black;
	z-index: 12; /* needed in cases the standard-itens outer box has z-index 10 */
}

/* image of CURRENTLY ACTIVATED item container */
.carousel.mod_flexicontent_wrapper .mod_hl_active.mod_fc_activeitem .image_standard img,
.carousel.mod_flexicontent_wrapper .mod_hl_active.mod_fc_activeitem .image_featured img
{
	border-style: solid;
	border-color: #444444 #444444 #444444 #444444;
	border-radius: 0px;
}

/* image of CURRENTLY ACTIVATED item container */
.carousel.mod_flexicontent_wrapper .mod_flexicontent_standard_wrapper .image_standard img {
	-webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
	opacity: 0.9;
	filter:alpha(opacity=90);
}
.carousel.mod_flexicontent_wrapper .mod_flexicontent_standard_wrapper:hover .image_standard img,
.carousel.mod_flexicontent_wrapper .mod_flexicontent_standard_wrapper.mod_fc_activeitem .image_standard img {
	opacity:1;
	filter:alpha(opacity=100);
}

/* INFO box of currently active item */
.carousel.mod_flexicontent_wrapper .mod_fc_activeitem_info {
	float:left;
	clear:both;
	display:block;
	padding: 4px 2% 0px 2%;
	margin: 6px 1% 0px 1%;
	text-align: center;
	height: auto;
}
.carousel.mod_flexicontent_wrapper .mod_fc_activeitem_info .mod_fc_activeitem_info_title {
	float:left;
	clear:both;
	display:block;
	font-weight: bold;
}
.carousel.mod_flexicontent_wrapper .mod_fc_activeitem_info .mod_fc_activeitem_info_text {
	float:left;
	clear:both;
	display:block;
}

/* Page button container */
.carousel.mod_flexicontent_wrapper .mod_fc_pages_outer {
	display: block;
	position:relative;
	float:left;
	width: 100%;
	text-align: center;
	clear:both;
	margin: 12px auto 6px;
}
.carousel.mod_flexicontent_wrapper .mod_fc_page_handles {
	position:relative !important;
	display:inline-block !important;
	float:none !important;
	border-width: 0px;
	padding: 0;
	margin: 0;
	width: auto;
}
/* Page buttons */
.carousel.mod_flexicontent_wrapper .mod_fc_page_handles > span.mod_fc_page_handle {
	background: none repeat scroll 0 0 #ddd;
	border-color: #bbb;
	border-radius: 16px;
	border-style: solid;
	border-width: 5px;
	box-shadow: 0 0 5px #bbb;
	position:relative !important;
	display: inline-block;
	float: left !important;
	clear: none !important;
	border: 2px solid transparent;
	font-weight: bold;
	margin: 0 0 6px 5px;
	overflow: hidden;
	padding: 0;
	position: relative !important;
	text-decoration: none;
	padding: 0;
	margin: 0 2px;
	overflow:hidden;
}
.carousel.mod_flexicontent_wrapper .mod_fc_page_handles > span.mod_fc_page_handle:hover {
	border-color: #999;
	border-radius: 16px;
}

.carousel.mod_flexicontent_wrapper .mod_fc_page_handles > span.mod_fc_page_handle.active {
	background-color: #bbb;
	border-radius: 16px;
	height: 14px;
	width: 14px
}

.carousel.mod_flexicontent_wrapper .mod_fc_page_handles > span.mod_fc_page_handle > div.mod_fc_page_handle_ico {
	background-color: #bbb;
	border-radius: 16px;
	height: 14px;
	width: 14px;
}


/* ITEM handles (image/text ITEM buttons for direct navigation) */
.carousel.mod_flexicontent_wrapper .mod_fc_handles_outer {
	width: 100%;
	text-align: center;
	display:block !important;
	float:left !important;
	/*visibility: hidden;*/
	position: relative !important;
	/*overflow: auto !important;*/ /* ie displays unneeded scrollbar */
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
	height: auto !important;
}

.carousel.mod_flexicontent_wrapper .mod_fc_item_handles {
	position:relative !important;
	display:inline-block !important;
	clear:both;
	border-width: 0px;
	padding: 0;
	width: 100%;
	height: auto;
	margin: 6px auto;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: auto;
}
.carousel.mod_flexicontent_wrapper .mod_fc_item_handles.fc_scrollbox_h { white-space: nowrap; overflow-y: hidden; overflow-x: auto; width: 100%; }
.carousel.mod_flexicontent_wrapper .mod_fc_item_handles.fc_scrollbox_v { white-space: normal; overflow-x: hidden; overflow-y: auto; width: auto; }
.carousel.mod_flexicontent_wrapper .mod_fc_item_handles span.mod_fc_item_handle {
	background: none repeat scroll 0 0 #ddd;
	border-color: #ccc;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	color: #444;
	clear: none;
	float: none;
	display: inline-block;
	font-weight: bold;
	margin: 0px 0px 0px 4px;
	overflow: hidden;
	padding: 0;
	position: relative !important;
	text-decoration: none;
}
.carousel.mod_flexicontent_wrapper .mod_fc_item_handles span.mod_fc_item_handle.fc_scrollitem_h { float: none; clear: none; }
.carousel.mod_flexicontent_wrapper .mod_fc_item_handles span.mod_fc_item_handle.fc_scrollitem_v { float: left; clear: both; }
.carousel.mod_flexicontent_wrapper .mod_fc_item_handles span.mod_fc_item_handle:hover {
	background:#bbb;
	position:relative;
}
.carousel.mod_flexicontent_wrapper .mod_fc_item_handles span.mod_fc_item_handle img {
	-webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
	opacity: 0.9;
	filter:alpha(opacity=90);
}
.carousel.mod_flexicontent_wrapper .mod_fc_item_handles span.mod_fc_item_handle:hover > img {
	opacity:1;
	filter:alpha(opacity=100);
}
.carousel.mod_flexicontent_wrapper .mod_fc_item_handles span.mod_fc_item_handle.active {
	border-color: #555 #333 #333 #555;
}


/* CONTROL buttons: stop,previous,next,play forward,play backend */
.mod_fc_carousel_buttons_outer {
	display: block;
	position:relative;
	float:left;
	width: 100%;
	text-align: center;
	clear:both;
	margin: 6px auto;
}

.mod_fc_carousel_buttons {
	position:relative !important;
	display:inline-block !important;
	float:none !important;
	border-width: 0px;
	padding: 0;
	margin: 0;
	width: auto;
}
.mod_fc_carousel_controls_label {
	background-color: #808080 !important;
	border-bottom: 1px solid #D0D0D0 !important;
	border-radius: 6px !important;
	border-right: 1px solid #D0D0D0 !important;
	color: #FFFFFF !important;
	display: block !important;
	float: left !important;
	font-family: arial !important;
	font-size: 10.998px !important;
	font-style: normal !important;
	font-weight: bold !important;
	line-height: 14px !important;
	margin: 3px 6px 3px 12px !important;
	max-width: 120px !important;
	padding: 3px 4px !important;
	text-align: right !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
	vertical-align: baseline !important;
	white-space: normal !important;
}

.mod_fc_carousel_buttons span.mod_fc_carousel_btn,
.mod_fc_carousel_buttons span.mod_fc_carousel_btn_boot {
	float: left;
	display: inline-block;
	padding: 8px 8px 0px 7px;
	margin-right: 4px;
	border: 1px solid lightgray;
	background-color: #eeeeee !important;
	border-radius: 8px;
	font-size: 14px;
	cursor:pointer;
}
.mod_fc_carousel_buttons span.mod_fc_carousel_btn { padding: 16px; }
.mod_fc_carousel_buttons span.mod_fc_carousel_btn_boot { padding: 8px 8px 10px 8px; }

.mod_fc_carousel_buttons span.mod_fc_carousel_btn:hover,
.mod_fc_carousel_buttons span.mod_fc_carousel_btn_boot:hover {
	background-color: #dddddd !important;
	cursor: pointer !important;
}

.mod_fc_carousel_btn.fc_stop {
	background: url(images/control-pause.png) no-repeat 8px 8px;
}
.mod_fc_carousel_btn.fc_backward {
	background: url(images/control-double-180.png) no-repeat 8px 8px;
}
.mod_fc_carousel_btn.fc_forward {
	background: url(images/control-double.png) no-repeat 8px 8px;
}

.mod_fc_carousel_btn.fc_previous_page {
	background: url(images/control-skip-180.png) no-repeat 8px 8px;
}
.mod_fc_carousel_btn.fc_next_page {
	background: url(images/control-skip.png) no-repeat 8px 8px;
}

.mod_fc_carousel_btn.fc_previous {
	background: url(images/control-180.png) no-repeat 8px 8px;
}
.mod_fc_carousel_btn.fc_next {
	background: url(images/control.png) no-repeat 8px 8px;
}


/* INTERGRATED NAVIGATION next/previous arraws */
.carousel.mod_flexicontent_wrapper .mod_fc_carousel {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 0;
}

.carousel.mod_flexicontent_wrapper span.mod_fc_nav.fc_horizontal {
	opacity: 1 !important;
	filter: alpha(opacity = 100) !important;
	
	-webkit-background-clip: border-box !important;
	background-clip: border-box !important;
	
	background-attachment: scroll !important;
	background-color: transparent !important;
	background-image: url("images/nav.png") !important;
	-webkit-background-origin: padding-box !important;
	background-origin: padding-box !important;
	background-position: -20% 50% !important;
	background-repeat: no-repeat !important;
	-webkit-background-size: auto auto !important;
	background-size: auto auto !important;
	
	border-radius: 0 0 0 0 !important;
	
	height: 100% !important;
	margin: 0px !important;
	position: absolute !important;
	top: 0;
	width: 28px;
	z-index:11;
}
.carousel.mod_flexicontent_wrapper span.mod_fc_nav.fc_vertical {
	-webkit-background-clip: border-box !important;
	background-clip: border-box !important;
	
	background: url("images/nav_vertical.png") no-repeat scroll 50% -20% transparent !important;
	border-radius: 10px 10px 0 0 !important;
	box-shadow: 0 0 5px #ccc;
	margin-left: 48%;
	position: relative !important;
	height: 31px;
	width: 41px;
	z-index:11;
}
.carousel.mod_flexicontent_wrapper span.mod_fc_nav {
	display: block !important;
	visibility: hidden;
	cursor: pointer !important;
	left: 0 !important;
	opacity: 1 !important;
	filter: alpha(opacity = 100) !important;
	outline: medium none !important;
	text-indent: -9000px !important;
	top: 0;
	margin: 0px;
}
.carousel.mod_flexicontent_wrapper span.mod_fc_nav.fc_horizontal.fc_next {
	background-position: 115% 50% !important;
	border-radius: 0 0 0 0 !important;
	left: auto !important;
	right: 0 !important;
}
.carousel.mod_flexicontent_wrapper span.mod_fc_nav.fc_vertical.fc_next {
	background-position: 50% 115% !important;
	border-radius: 0 0 10px 10px !important;
	left: auto !important;
	right: 0 !important;
	top: -6px;
}
.carousel.mod_flexicontent_wrapper span.mod_fc_nav.fc_vertical.fc_previous {
	top: 6px !important;
}
.carousel.mod_flexicontent_wrapper span.mod_fc_nav:hover {
	opacity: 0.3 !important;
	filter: alpha(opacity = 30) !important;
	background-color: #555 !important;
	box-shadow: 1px 1px 5px #ccc;
}


/* Outer mask to clip overflown content */
.carousel.mod_flexicontent_wrapper .mod_fc_carousel_mask {
	display:block !important;
	visibility: hidden;
	position: relative !important;
	overflow: hidden !important;
	margin: 0 1% !important;
	padding: 0 !important;
	width: 98% !important;
	height: auto;
}

.carousel.mod_flexicontent_wrapper .mod_fc_carousel_mask.fc_has_nav.fc_horizontal {
	margin: 0px 0px !important;
	width: auto !important;
}

.carousel.mod_flexicontent_wrapper .mod_fc_carousel_mask.fc_has_nav.fc_vertical {
	margin: 6px 6px !important;
	width: auto !important;
}


/* Customize clear box */
.carousel.mod_flexicontent_wrapper .modclear {
	height: 0px !important;
	border-bottom: 0px dashed gray;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;;
	width: 100%;
}

.carousel.mod_flexicontent_wrapper .mCSB_horizontal > .mCSB_container {
	margin-bottom: 12px;
	margin-left: auto;
	margin-right: auto;
}


