.djec-separator label {
  font-weight: bold;
  font-size  : 24px;
  line-height: 1.4;
  display    : block;
}

.djec-info {
  clear      : both;
  text-align : center;
  padding-top: 40px;
  font-size  : 13px;
  color      : rgba(68, 68, 68, 0.5);
}

.djec-info .djc-logo {
  display      : inline-block;
  margin-bottom: 15px;
}

.djec-info a {
  color: rgba(68, 68, 68, 0.5);
}

.djec-info .djc-links,
.djec-info .djc-social {
  font-size: 0;
}

.djec-info .djc-links li {
  margin : 5px;
  display: inline-block;
}

.djec-info .djc-links li a {
  display      : block;
  border       : 1px solid #E3E5EF;
  background   : #fff;
  border-radius: 20px;
  padding      : 10px 26px;
  font-size    : 13px;
  line-height  : 17px;
}

.djec-info ul li img {
  margin-right: 12px;
}

.djec-info ul li span,
.djec-info ul li img {
  vertical-align: middle;
}

.djec-info ul li span,
.djec-info ul li img {
  vertical-align: middle;
}

.djec-info p {
  margin: 0 0 15px;
}

.djec-info .djc-social li {
  margin : 0 12px;
  display: inline-block;
}

.djec-info .djc-social li a {
  font-size: 13px;
  display  : block;
}