.badge-inline .grecaptcha-badge {
  margin: 10px 0;
  clear : both;
}

.badge-csshidden .grecaptcha-badge {
  display: none !important;
}

.dj-simple-contact-form-row.name label,
.dj-simple-contact-form-row.email label,
.dj-simple-contact-form-row.message label {
  display: none;
}

.dj-simple-contact-form-row.terms-conditions {
  margin: 0 0 10px;
}

/* .dj-simple-contact-form-row.terms-conditions legend,
.dj-simple-contact-form-row.terms-conditions2 legend {
  display: none;
} */
.dj-simple-contact-form-row.terms-conditions .sr-only {
  position: absolute;
  width   : 1px;
  height  : 1px;
  padding : 0;
  margin  : -1px;
  overflow: hidden;
  clip    : rect(0, 0, 0, 0);
  border  : 0;
}

.dj-simple-contact-form-row.terms-conditions a {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap    : break-word;

  -ms-word-break                      : break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break                          : break-all;
  /* Instead use this non-standard one: */
  word-break                          : break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens    : auto;
  -moz-hyphens   : auto;
  -webkit-hyphens: auto;
  hyphens        : auto;
}

.dj-simple-contact-form-row.terms-conditions input[type="checkbox"],
.dj-simple-contact-form-row.terms-conditions2 input[type="checkbox"] {
  float         : left;
  vertical-align: middle;
  margin        : 2px 5px 0px 0;
}

.dj-simple-contact-form-row.terms-conditions label,
.dj-simple-contact-form-row.terms-conditions2 label {
  margin: 0;
}

.djeasycontact-g-recaptcha {
  margin: 5px 0;
}

.dj-simple-contact-form.form-labels-2 .dj-simple-contact-form-row label,
.dj-simple-contact-form.form-labels-3 .dj-simple-contact-form-row label {
  display: block;
}

.dj-simple-contact-form.form-labels-2 .dj-simple-contact-form-row.name,
.dj-simple-contact-form.form-labels-2 .dj-simple-contact-form-row.email,
.dj-simple-contact-form.form-labels-2 .dj-simple-contact-form-row.message,
.dj-simple-contact-form.form-labels-3 .dj-simple-contact-form-row.name,
.dj-simple-contact-form.form-labels-3 .dj-simple-contact-form-row.email,
.dj-simple-contact-form.form-labels-3 .dj-simple-contact-form-row.message {
  display       : flex;
  flex-direction: column;
}

.dj-simple-contact-form.form-labels-2 .dj-simple-contact-form-row.name label,
.dj-simple-contact-form.form-labels-2 .dj-simple-contact-form-row.email label,
.dj-simple-contact-form.form-labels-2 .dj-simple-contact-form-row.message label,
.dj-simple-contact-form.form-labels-3 .dj-simple-contact-form-row.name label,
.dj-simple-contact-form.form-labels-3 .dj-simple-contact-form-row.email label,
.dj-simple-contact-form.form-labels-3 .dj-simple-contact-form-row.message label {
  order: -1;
}

.dj-simple-contact-form .star {
	margin-left: 5px;
	margin-right: 5px;
	color: #DB0000;
}