<p>Hi,</p>

<p>Please note that order <strong>{trans_id}</strong> changed it's status to {status} on <a href="{sitelink}" target="_blank">{sitelink}</a></p>
{attachments}
{license}
<p>Order details:</p>
<table>
<tbody>
<tr><td><strong>Status:</strong></td><td>{status}</td></tr>
<tr><td><strong>Transaction ID:</strong></td><td>{trans_id}</td></tr>
<tr><td><strong>Product:</strong></td><td>{product}</td></tr>
<tr><td><strong>{invoice_text}:</strong></td><td>{invoice}</td></tr>
<tr><td><strong>Price:</strong></td><td>{price}</td></tr>
<tr><td><strong>First Name:</strong></td><td>{fname}</td></tr>
<tr><td><strong>Surname:</strong></td><td>{lname}</td></tr>
<tr><td><strong>Address:</strong></td><td>{adress}</td></tr>
<tr><td><strong>City:</strong></td><td>{city}</td></tr>
<tr><td><strong>Postcode:</strong></td><td>{zip}</td></tr>
<tr><td><strong>State:</strong></td><td>{state}</td></tr>
<tr><td><strong>Country:</strong></td><td>{country}</td></tr>
<tr><td><strong>E-mail:</strong></td><td>{email}</td></tr>
<tr><td><strong>Phone:</strong></td><td>{phone}</td></tr>
<tr><td><strong>Payment Method:</strong></td><td>{method}</td></tr>
<tr><td><strong>Mode:</strong></td><td>{mode}</td></tr>
</tbody>
</table>
<p>Thank you for your business<br /><a href="{sitelink}" target="_blank">{sitelink}</a></p>