@charset "utf-8";
.okpay_error{
color:red;
font-weight:bold;
}
.okpay_wrp{
padding:10px;
}
.okpay_description{
	margin-bottom: 20px;

}
.okpay_button{

}
.okpay_submit_pay{
background: #F4A706; /* Old browsers */
background: -moz-linear-gradient(top,  #F4A706 0%, #E7A02E 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4A706), color-stop(100%,#E7A02E)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #F4A706 0%,#E7A02E 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #F4A706 0%,#E7A02E 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #F4A706 0%,#E7A02E 100%); /* IE10+ */
background: linear-gradient(to bottom,  #F4A706 0%,#E7A02E 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4A706', endColorstr='#E7A02E',GradientType=0 ); /* IE6-9 */
 border: 1px solid #DF6805;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: right;
    margin-top: 10px;
    padding: 3px 10px;

}
.okpay_submit_pay:hover{
background: #F4A706; /* Old browsers */
background: -moz-linear-gradient(top,  #F4A706 0%, #E7A02E 43%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4A706), color-stop(43%,#E7A02E)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #F4A706 0%,#E7A02E 43%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #F4A706 0%,#E7A02E 43%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #F4A706 0%,#E7A02E 43%); /* IE10+ */
background: linear-gradient(to bottom,  #F4A706 0%,#E7A02E 43%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4A706', endColorstr='#E7A02E',GradientType=0 ); /* IE6-9 */
cursor:pointer;

}



.okpay_popup_content{

}
.okpay_popup_head{
margin-bottom: 25px;
}
.okpay_popup_content{

}
.okpay_popup_row{

}
.okpay_popup_submit_row{

}
.okpay_popup_lbl{


}
.okpay_popup_input{    border: 1px solid #A7A7A7;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 6px;
    padding: 3px 5px;
    width: 93%;}
	
.okpay_popup_input_co{  border: 1px solid #A7A7A7;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 6px;
    padding: 3px 5px;
    width: 97%;}	
	

.okpay_popup_submit_row, .okpay_popup_submit_row td, .okpay_popup_tbl, .okpay_popup_row td, .okpay_popup_row tr{
  border: medium none !important;
}
.okpay_popup_row{ width:100%; border:none;}
.okpay_popup_row td { width:50%;}
.okpay_popup_payment_input{
    border: 1px solid #A7A7A7;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 6px;
    padding: 3px 5px;

}
.okpay_submit_error{

}
.okpay_popup_curr_sym{

}





#sspBillingFirstnames{

}
#sspBillingSurname{

}
#sspBillingAddress1{

}
#sspBillingCity{

}
#sspBillingPostCode{

}
#sspBillingCountry{

}














